	<%if can? :create, TutorReport %>
		<li><%= link_to "Tutor Contacts", new_tutor_report_path, :class=>"menubar_link" %>
			<ul>
				<li><%= link_to "Tutor Report", "/tutor_reports/new?type=TutorReport" %></li>
				<li><%= link_to "By Appointment Tutor Report", "/tutor_reports/new?type=TutorByAppointmentReport" %></li>
				<li><%= link_to "Drop In Tutor Report", "/tutor_reports/new?type=TutorDropInReport" %></li>
				<li><%= link_to "Study Table Tutor Report", "/tutor_reports/new?type=TutorStudyTableReport" %></li>
			</ul>
		</li>
	<% end %>