
    <td><%= "#{staff.last_name}, #{staff.first_name}" %></td>
    <td><%= staff.email %></td>
    <td><%= staff.access_level.display_name rescue 'None' %></td>
    <td><% staff.organizations.each  do |o| -%>
         <%=	o.display_name  rescue 'Unattached' %><br/>
		 <% end -%>
	</td>
	<td><%= staff.last_login.to_s(:short_date_time) rescue "Not yet logged in" %>
    <td><%= link_to 'Edit', edit_staff_path(staff) if can? :edit, staff %></td>
	<td>
	<% if staff.active %>
		<%= link_to 'De-activate', staff, :confirm => 'Are you sure?', :method => :delete if can? :destroy, staff %>
	<% else %>
		<%= link_to 'Activate', staff, :confirm => 'Are you sure?', :method => :delete if can? :destroy, staff %>
	<% end %>
	</td>
