<div id="inside_container" class="inside_container"><h1>Listing Staff Members</h1>

<table>
  <tr>
    <th>Name</th>
    <th>E-mail</th>
    <th>Role</th>
    <th>Area</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @staffs.each do |staff| %>
 <% if @numRows == 0 %>
    <% @numRows = @numRows + 1 %>
    <tr class="shaded">
  <% else %>
    <% @numRows = 0 %> 
    <tr>
  <% end %>
    <td><%= "#{staff.last_name}, #{staff.first_name}" %></td>
    <td><%= staff.email %></td>
    <td><%= Authorize.string_for_access_level(staff.access_level) %></td>
    <td><%= staff.staff_areas[0].area.name rescue 'Unassigned' %>
    <td><%= link_to 'Show', staff %></td>
    <td><%= link_to 'Edit', "/staffs/#{staff.id}/edit" %></td>
    <td><%= link_to 'Destroy', staff, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Staff Member', "/staffs/sign_up" %>
</div>