<tr>
  <td>
    <%= notification_preference.report_type %>
  </td>
  <td>
    <%= radio_button(notification_preference.report_type, :frequency, 0, :onclick => "Element.hide('scope_#{notification_preference.report_type}');", :checked =>notification_preference.frequency == 0) %><label>Never</label><br>
    <%= radio_button(notification_preference.report_type, :frequency, 1, :onclick => "Element.show('scope_#{notification_preference.report_type}');", :checked =>notification_preference.frequency == 1) %><label>Immediately</label><br>
    <%= radio_button(notification_preference.report_type, :frequency, 2, :onclick => "Element.show('scope_#{notification_preference.report_type}');", :checked =>notification_preference.frequency == 2) %><label>Daily</label><br>
    <%= radio_button(notification_preference.report_type, :frequency, 3, :onclick => "Element.show('scope_#{notification_preference.report_type}');", :checked =>notification_preference.frequency == 3) %><label>Weekly</label></td>
  <td>
    <div id="scope_<%= notification_preference.report_type %>">
      <%= radio_button(notification_preference.report_type, :scope, 0, :checked =>"checked") %><label>Building</label><br>
      <%= radio_button(notification_preference.report_type, :scope, 1, :checked =>notification_preference.scope == 1) %><label>Area</label><br>
      <%= radio_button(notification_preference.report_type, :scope, 2, :checked =>notification_preference.scope == 2) %><label>All</label>
    </div>
  </td>
</tr>