<h1>My Notification Preferences</h1>
<% form_tag(@incident_preference, :method => 'put') do %>
<table>
	<tr>	
		<td>
			<%= @incident_preference.report_type + " Report" %>
		</td>
		<td>
				<div class="field">
					<%= label_tag :frequency %><br />
					<%= select_tag :frequency, options_for_select({"Passive" => 0, "Every" => 1, "Daily" => 2, "Weekly" => 3}, @incident_preference.frequency), {} %>
				</div>
		</td>
		<td>
				<div class="field">
					<%= label_tag :scope %><br />
					<%= select_tag :scope, options_for_select({"Building" => 0, "Area" => 1, "All" => 2}, @incident_preference.scope), {} %>
				</div>
		</td>
	</tr>
	<tr>
		<td>
	  <div class="actions">
		<%= submit_tag %>
	  </div>
		</td>
	</tr>
<% end %>	
</table>