<% logger.debug("++++ #{resource} +++") %>
<%= form_for(resource, :as => resource_name, 
           :url =>  staffs_create_staff_path,
           :onSubmit=>"validate(this);" ,  
           :html=> { :id=>"staff_form", :"parsley-validate" => '' } ) do |f| %>
  <%= devise_error_messages! %>

<%= hidden_field_tag "staff[active]",  "true" %>
  <div class="field">
    <%= f.label :first_name %> <br />
    <%= f.text_field :first_name,
					"parsley-trigger" => "keyup focusin focusout submit",
					"parsley-error-message" => "You must enter your first name",
					"parsley-required" => "true" %>
  </div>
  <div class="field">
    <%= f.label :last_name %> <br />
    <%= f.text_field :last_name,
					"parsley-trigger" => "keyup focusin focusout submit",
					"parsley-error-message" => "You must enter your last name",
					"parsley-required" => "true" %>
  </div>
  <div class="field">
    <%= f.label :email %> <br />
    <%= f.text_field :email,
					"parsley-trigger" => "keyup focusin focusout submit",
					"parsley-required-message" => "You must enter an email address",
					"parsley-type-email-message" => "You must enter a valid email address",
					"parsley-type" =>"email",
					"parsley-required" => "true" %>
  </div>
	<div class="field">
		<%= f.label :password %> <%= update_password_tag unless controller.action_name == "new_staff" %><br />
	</div>
	<div id="update_password_area" style="display:none;">
		<div class="field"> 
			<%= f.password_field :password,
						"parsley-trigger" => "keyup focusin focusout submit",
						"parsley-error-message" => "You must enter a password",
						"parsley-equalto" => "#staff_password",
						"parsley-required" => "true" %>
		</div>
		<div class="field">
			<%= f.label :password_confirmation %> <br />
			<%= f.password_field  :password_confirmation,
						"parsley-trigger" => "keyup focusin focusout submit",
						"parsley-required-message" => "You must enter a password",
						"parsley-equalto-message" => "Your passwords must match",
						"parsley-equalto" => "#staff_password",
						"parsley-required" => "true" %>
		</div>
	</div>
  <div class="field">
    <%= render :partial => "devise/registrations/authorization_select", :locals=> { :staff => @staff } %>
  </div>
  
  <% if can? :assign, Area %>
  <div class="field">
    <%= f.label :area %><br />
    <%= area_assignment_tag f, resource %>
  </div>
  <% end %>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
   <%= f.hidden_field :id, :value => resource.id %>
  <br />
<% end %>

<script>
	//If a form of the new_staff class is detected on the page, show it, since it's hidden by default
	if ($(".new_staff").length) {
		$("#update_password_area").show();
	}
	//Custom validation to deal with update password checkbox
	//Clear the parsley validation requirements initially because by default, the password is the same
	$(".edit_staff").parsley( 'removeItem', '#staff_password');
	$(".edit_staff").parsley( 'removeItem', '#staff_password_confirmation');
	//If the "Update Password" checkbox is checked, add the proper parsley constraints
	$("body").on('click', '#update_password', function () {
		$("#update_password_area").toggle(this.checked);
		if (this.checked) {
			//If the checkbox is checked, add parsley validation back in
			$(".edit_staff").parsley( 'addItem', '#staff_password');
			$(".edit_staff").parsley( 'addItem', '#staff_password_confirmation');
		} else {
			//Not checked? Take parsley validation out again
			$(".edit_staff").parsley( 'removeItem', '#staff_password');
			$(".edit_staff").parsley( 'removeItem', '#staff_password_confirmation');
		}
	});
	//Custom validation to deal with ensuring the user selects at least one role
	$("#organization_academic_skills_center:checkbox,#organization_residence_life:checkbox").attr("parsley-group", "org-selection");
	$("#organization_academic_skills_center:checkbox").attr("parsley-rangecheck", "[1,2]");
	$("#organization_academic_skills_center:checkbox,#organization_residence_life:checkbox").attr("parsley-error-message", "You must select at least one organization");
	$("#organization_academic_skills_center:checkbox,#organization_residence_life:checkbox").parsley("validate");
</script>