<div id="to_do_list">
  <% if !current_staff.on_duty? %>
    <h3>You must <%=image_tag("go_on_duty_sign.png", :size=> "35x35", :title=>"Go On Duty")%> on duty to be assigned tasks and then <%= link_to "refresh this page", "/task_assignments" %> to view them.</h3>
  <% else %>
    <% if @task_assignments != nil %>
      <% if @task_assignments.length > 0 %>
        <table>
          <tr>
            <th>Title</th>
            <th>Note</th>
            <th>Done</th>
          </tr>
          <% @task_assignments.each do |ta| %>
            <tr>
              <td><%= ta.task.title %></td>
              <td><%= ta.task.info %></td>
              <td><%= ta.done_string %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <h3>You have no tasks to complete during your shift</h3>
      <% end %>
    <% else %>
      <h3>You have no tasks to complete during your shift</h3>
    <% end %>
  <% end %>
</div>