<div id="inside_container" class="inside_container"><div class="form_header"><%= t :student_search %></div>

<div id="found">
<% if session[:students] != nil %>
	<%= render(session[:students].values) %>
<% end %>	
</div>
  <%= render(:partial => "autocomplete_full_name", :locals => { :target => "/search/update_result_list"} ) %>
<br/>
<br/>
	<%= form_tag("#{params[:returnUrl]}", :method => :get) do %>
  		<%= submit_tag "Done", :name=> "search_submit" %>
	<% end %>


</div>