<h1>Student Search</h1>


<%= form_tag 'delete_student', :remote => true %>
<div id="found">

<% if session[:students] != nil %>

	<%= render (session[:students]) %>
	
<% end %>

</div>
</form>


    <%= form_tag 'update_list', :remote => true%>

		<%= render '/search/autocomplete_full_name' %>

  		<input id="options" type="submit" value="Select" onclick="this.reset()">

		<input id="options" type="button" value="Clear" onclick="full_name.value = ''">


	</form>

	<p>
		<br />
	</p>

	
	<form action="<%= request.query_string %>">

  		<input type="submit" value="Done" />

	</form>


