<h1>Student Search</h1>


<script type="text/javascript">
function handletext(what){
	if (document.createTextNode){
		var theNewParagraph = document.createElement('p');
		document.getElementById("found").appendChild(theNewParagraph);
		var mytext=document.createTextNode(what)
		theNewParagraph.appendChild(mytext)
	}
}


</script>

<div>
<% cnt = session[:cnt]
if (cnt == nil)
cnt = 0
end
cnt++
%>
<h1>Page visits <%= cnt %> </h1>

<div id="found">
<% if session[:students] != nil %>
	<% session[:students].each do |s| %>
		<p><%= s.first_name %> <%= s.last_name %></p>
	<% end %>
<% end %>
</div>




    <%= form_tag 'update_list', :remote => true%>

		<%= render '/search/autocomplete_full_name' %>

  		<input id="options" type="submit" value="Select">

		<input id="options" type="button" value="Clear" onclick="full_name.value = ''">


	</form>

	<p>
		<br />
	</p>

	<form action="<%= request.query_string %>">

  		<input onclick=""; type="submit" value="Done" />

	</form>


