<script type="text/javascript">
    function handletext(what){
        if (document.createTextNode) {
            var theNewParagraph = document.createElement('p');
            document.getElementById("found").appendChild(theNewParagraph);
            var mytext = document.createTextNode(what)
            theNewParagraph.appendChild(mytext)
        }
    }
</script>
<div id="WebApp">
    <div id="iHeader" style="background-color: #b22222">
        <a href="#" id="waBackButton">Back</a>
        <span id="waHeadTitle">Student Search</span>
    </div>
    <div id="iGroup">
        <div class="iLayer" id="waHome" title="Home">
            <div class="iPanel">
            <fieldset>
            	<div id="found">
                <% if session[:students] != nil %>
                
                    <ul>
                        <% session[:students].each do |s| %>
                        <li>
                            <%= s.first_name %> <%= s.last_name %>
                        </li>
                        <% end %>
                    </ul>
                
                <% end %>
            </div>
            
                <%= form_tag 'update_result_list', {:remote => true} %>
           
            
                <ul>
                    <li>
                        <%= render '/search/autocomplete_full_name.iphone' %>
                    </li>
                </ul>
                <input id="options" type="submit" value="Select" onsubmit="full_name.value = ''" class="iPush iBClassic" style="width:25%"></input>
            	<input onclick="full_name.value = ''" value="Clear" class="iPush iBClassic" style="width:25%">
            </form>
			</fieldset>
        </div>
        <form action="<%= request.query_string %>">
            <input onclick="";  type="submit" value="Done" class="iPush iBClassic" style="width:100%"/>
        </form>
    </div>
</div>
</div>