

<%= form_for(@incident_report) do |f| %>
  <% if @incident_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@incident_report.errors.count, "error") %> prohibited this incident report from being saved:</h2>

      <ul>
      <% @incident_report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
    <b><%= f.label :approach_time %>:</b><br />
    <%= f.text_field :approach_time %>
  </div>
  <div class="field">
    <%= f.label :building_id %>:<br />
    <%= select :incident_report,:building_id,Building.find(:all).collect{|p| [p.name, p.id]},{}%>
    
    </div>
  <div class="field">
    <b><%= f.label :room_number %>:</b><br />
    <%= f.text_field :room_number %>
  </div>
  <% end %>
  
  <div id="s-i-form">
    <%= render "student_infractions" %>
  </div>
  
  
  <div class="field">
    <b>Annotation:</b><br />
    <textarea cols="60" id="incident_report_annotation" name="annotation" rows="20" ><%= session[:annotation].text %></textarea>
 </div>

    
    
    
  <div class="actions">
       		<p>
       			<% if @incident_report.submitted != true %>
       				<%= button_to "Save Report", { }, { :method => :get, :id => "save_submit" } %>
       			<% end %>
       			<%= button_to "Submit Report", {  }, { :method => :get, :id=>"submit_submit" } %>
       		</p>

  </div>



