<div id="WebApp">
    <div id="iHeader" style="background-color: #b22222">
        <a href="#" id="waBackButton">Back</a>
        <span id="waHeadTitle">Incident Report</span>
    </div>
    <div id="iGroup">
        <div class="iLayer" id="waHome" title="Home">
            <div class="iPanel">
                <legend>
                    Students:
                </legend>
                <%= render :partial => "search/autocomplete_full_name", :locals => { :target => "/reports/add_participant" } %>

				<div id="s-i-form">
                
                 <%  @report.participant_ids.each  do |pid|  %>    
                    <%= render :partial=> "reports/participant_in_report", :locals => { :report => @report, :participant => Participant.find(pid) } %>
                <% end %>
				
				</div>

				</div>
        	
            <form action="/incident_reports" method="POST">
                <div class="iPanel">
                    <fieldset>

                         <legend>
                            Annotation:
                        </legend>
                        <ul>
                            <li>
                                <%= text_area(:report, :annotation,  :cols=> "60", :rows => "4", :value=> @report.annotation_text) %>
                            </li>
                        </ul>
                        <legend>
                            Building:
                        </legend>
                        <ul>
                            <li id="build" class="iRadio" value="autoback">
                            	
                                Select Building<% Building.find(:all).each do |b| %>
								
                                <label>
                                    <input type="radio" name="report[building_id]" value="<%= b.id %>" <%if @report.building_id == b.id %> CHECKED <% end %>><%= b.name %>
                                </label>
                                
								
								
								<% end %><!--<%= @report.building.name %>-->
								<span></span>
                            </li>
                        </ul>
                        <legend>
                            Room #:
                        </legend>
                        <ul>
                            <li>
                                <input type="text" name="report[room_number]" placeholder="Room #" value="<%=@report.room_number%>" />
                            </li>
                        </ul>
                  

				
                        <legend>
                            Time: 
                       </legend>
                        
                        
                        <ul>
                            <li>
                                <input type="text" name="report[approach_time]" value="<%=@report.approach_time%>" />
                            </li>
                        </ul>
                       
					   
						<% if @report.submitted != true %>
						      <input id="save_submit" name="save_submit" type="submit" value="Save" class="iPush iBClassic" style="width:100%"/>
							  <%else%>
							  <input id="submit_submit" name="submit_submit" type="submit" value="Submit" class="iPush iBClassic" style="width:100%"/>
							  <% end %>

                    </fieldset>
                </div>
				</form>
								
				</div>
				
<div id="s-i-checkbox">
					

           
        </div>
    </div>
</div>

