<script type="text/javascript">
function saveState(){
	<%= session[:incident_report] = @incident_report %>
	<%= session[:annotation] = @annotation %>
}

</script>


     <div class="field">
   	 Students:<br />
  	  <% @incident_report.reported_infractions.each do |i| %>
 	   	<p>&nbsp;&nbsp;&nbsp;<%= i.participant.first_name %> <%=i.participant.last_name %></p>
    	<% end %>
    
    	<div class="actions">
    		<input id="save_submit" name="save_submit" type="submit" value="Add Students" />
    	</div>

 	   &nbsp;&nbsp;&nbsp;<a onclick='saveState();' href="/search/report_search?/incident_reports/new_report"><%= image_tag('add_icon.gif', :border=>0) %> Add Students</a>
    </div>
 
