<script type="text/javascript">

image1 = new Image();
image1.src = "/images/add_icon.gif";

image2 = new Image();
image2.src = "/images/minus_icon.gif";

function divToggle(divID,imgID) {
	        var state = document.getElementById(divID).style.display;
	            if (state == 'block') {
	                document.getElementById(divID).style.display = 'none';
	                document[imgID].src = '/images/add_icon.gif';
	            } else {
	                document.getElementById(divID).style.display = 'block';
	                document[imgID].src = '/images/minus_icon.gif';
	            }
	        }
	       
</script>


     <div class="field">
   	 <b>Students:</b>
  	    <% ir.report_participant_relationships.sort! { |a, b|  a.participant.last_name <=> b.participant.last_name } %>
	<% fyi = RelationshipToReport.fyi %>

  <% ir.report_participant_relationships.each do | relationship | %>
  <% if relationship.participant.id != @currentParticipantID %>
<br />
   	<% @currentParticipantID = relationship.participant.id %>
  	&nbsp;&nbsp;&nbsp; 
  
  		<%= link_to image_tag(relationship.participant.getThumbnailUrl, :border=> 0), "#", 
  		    :onclick => "Element.toggle('details_div_#{relationship.participant.id}'); return false;"  %>
  		
  	
  <%= "#{relationship.participant.first_name} #{relationship.participant.last_name}" %>
  <%= link_to image_tag("/images/remove_icon.png", :border=>0), { :action => 'remove_participant', :id => @currentParticipantID }, :remote => true %>

  	<div id="details_div_<%= relationship.participant.id %>" style="display: none;" >
  	  <%= render :partial => "participants/participant_details", :locals => { :participant => relationship.participant } %>
  	</div>
  	
  	
 	
  	<br />
  	<a href="javascript:void(0)" onClick="divToggle('<%= relationship.participant_id %>-infractions', '<%=relationship.participant_id%>-img');"><img src="/images/add_icon.gif" name="<%=relationship.participant_id%>-img"/></a> <b>Infractions:</b>
  	<div id="<%= relationship.participant_id %>-infractions" style="display: none;">
  		<% infractions = RelationshipToReport.all %>
  		<% infractions.each do |infraction| %>
  		  <div style="margin-left: 70px;margin-top: 4px; margin-bottom: 0px;" >
  				<%= check_box_tag "#{relationship.participant_id}[#{infraction.id}]", 
  				       infraction.description, 
  				       ir.get_specific_report_student_relationship(relationship.participant_id, infraction.id) != nil %>
  				<%= label_tag infraction.description %>			
  			</div>
  		<% end %>
  		</div>
   <% end %>
  	
  	

  <% end %>
 
 </div>
 
