<div class="field">
	
    <% ir.report_participant_relationships.sort! { |a, b|  a.participant.last_name <=> b.participant.last_name } %>
    <% fyi = RelationshipToReport.fyi %>
	<div class="iPanel">
<fieldset>
        <ul class="iArrow">
            <% @incident_report.report_participant_relationships.each do |b| %>
            <% if b.participant.id != @currentParticipantID %>
            <% @currentParticipantID = b.participant.id %>
            <!--<li>
            	<a href="#_<%=b.participant.id%>" <img src="<%=b.participant.getThumbnailUrl%>" align="left">><%= "#{b.participant.first_name} #{b.participant.last_name}" %></a>
            </li>  -->
			<li>
				<a href = "#_<%=b.participant.id%>">
				<%=image_tag(b.participant.getThumbnailUrl, :border => 0)%>
				<%= "#{b.participant.first_name} #{b.participant.last_name}"%></a>
			</li>  
			
            <div id="details_div_<%= b.participant.id %>" style="display: none;">
                <%= render :partial => "participants/participant_details", :locals => { :participant => b.participant } %>
            </div>
			</ul></fieldset></div>
            <div class="iLayer" id="wa<%=b.participant.id%>" title="<%=b.participant.full_name%>">
                <div class="iPanel">
                    <fieldset>
                        <ul class="iArrow">
                            <% infractions = RelationshipToReport.all %>
                            <% infractions.each do |i| %>
                            <% #this checkbox tag is not complete for another several lines# %>
                            <li>
                                <input type="checkbox" name="<%= b.participant_id %>[<%= i.id %>]" class="iToggle" title="YES|NO"
								
								<% #if a reported infraction exists for this infraction and this student, make box checked.# %>
                                <% ir.report_participant_relationships.each do |ri| %>
  					<% if i.id != fyi && ri.participant_id == b.participant_id && ri.relationship_to_report_id == i.id %> checked="checked"
  					<% end%>
  				<%end%>
  			
  				<% #this is the end of the checkbox tag.# %>
  				><%= i.description %>
                            </li><% end %>
                        </ul>
                    </fieldset>
                </div>
            </div>
			
			<% end %>
            <% end %>
        
    
</div></div>