<h1>Search Results </h1>

<table>
  <tr>
    <th>Report ID</th>
    <th>Submitter</th>
    <th>Approach Date</th>
    <th>Approach Time</th>
    <th>Building</th>
    <th>Room #</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  
<% @reports.each do |incident_report| %>
  <% if incident_report.submitted? == true %>
  	<% if @numRows == 0 %>
  		<% @numRows = @numRows + 1 %>
  		<tr class="shaded">
  	<% else %>
  		<% @numRows = 0 %> 
  		<tr>
  	<% end %>
  	<td><%= incident_report.id %></td>
  	<td><%= incident_report.staff.first_name %> <%= incident_report.staff.last_name %></td>
  	<td><%= incident_report.approach_time.to_s(:date_only) %></td>
  	<td><%= incident_report.approach_time.to_s(:time_only) %></td>
  	<td><%= incident_report.building.name %></td>
  	<td><%= incident_report.room_number %></td>
  	<td><%= link_to 'Show', incident_report %></td>
  	<td><%= link_to 'Edit', edit_incident_report_path(incident_report) %></td>
  	<td><%= link_to 'Destroy', incident_report, :confirm => 'Are you sure?', :method => :delete %></td>
  	</tr>
  <% end %>
<% end %>

</table>


<p>
<%= link_to 'Back', incident_reports_search_path %>
</p>
