<h1>Search Incident Reports </h1>


  Please enter your search criteria.
  
  <%= form_tag 'search_results' %>
  	
  	<div class="field">
  		 Building:<br />
  		 <select id="building_id" name="building_id">
  		 	<option value="0" selected="selected">Select A Building</option>
  		 	<% Building.all.each do |b| %>
  		 	    	<option value="<%= b.id %>"><%= b.name %></option>
  		 	<% end %>
  		 	</select>
  	</div>
  	
  	<div class="field">
  		 Student:<br />
  		 <%= render '/search/autocomplete_full_name' %>
  	</div>
  	
  	<div class="field">
  		 Infraction:<br />
  		 <select id="infraction_id" name="infraction_id">
  		 	<option value="0" selected="selected">Select An Infraction</option>
  		 	<% Infraction.all.each do |i| %>
  		 	    	<option value="<%= i.id %>"><%= i.description %></option>
  		 	<% end %>
  		 	</select>
  	</div>
  	
  	<p></p>
  	<input id="submit" name="submit" type="submit" value="Search Incident Reports" />
  </form>

  



<%= link_to 'Back', incident_reports_path %>
