<h1>Showing Incident Report <%= @incident_report.id %> </h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Report ID:</b>
  <%= @incident_report.id %><br/><br />
  <b>Approach Time:</b>
  <%= @incident_report.approach_time %><br/><br />
  <b>Building ID:</b>
  <%= @incident_report.building.name %><br/><br />
  <b>Room Number:</b>
  <%= @incident_report.room_number %><br/><br />
  <b>Annotation:</b>
  <%= Annotation.find(@incident_report.annotation_id).annotation %><br/><br />
  <b>Submitter:</b>
  <%= @incident_report.staff.first_name %> <%= @incident_report.staff.last_name %><br/><br />
  
  <b>Student infractions:</b>
  <% @incident_report.reported_infractions.sort! { |a, b|  a.participant.last_name <=> b.participant.last_name } %>

  <% @incident_report.reported_infractions.each do |b| %>
  <% if b.participant.id != @currentParticipantID %>
   	<% @currentParticipantID = b.participant.id %>
   	<br />
  	<br />&nbsp;&nbsp;&nbsp;<b> Participant:</b>
  
  	<% if b.participant.type == "Student" %>
  		<a href="../students/<%= b.participant.id %>" target="blank"> <%= b.participant.first_name %> <%= b.participant.last_name %> </a>
  	<% else %>
  		<a href="../participants/<%= b.participant.id %>" target="blank"> <%= b.participant.first_name %> <%= b.participant.last_name %> </a>
  	<% end %>
   <% end %>
  	<br />
  	<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Infraction:</b> 
  <%= b.infraction.description %>
  <% end %>
  
  <br/><br /><br />
  <b>Created at:</b>
  <%= @incident_report.created_at.to_s(:my_time) %><br/><br />
  <b>Updated at:</b>
  <%= @incident_report.updated_at.to_s(:my_time) %><br>
 
  
</p>


<%= link_to 'Edit', edit_incident_report_path(@report) %> |
<%= link_to 'Back', incident_reports_path %>
