<h1>Incident Report <%= @report.id %> </h1>
    <%= render :partial => "reports/show_relationships", :locals => { :title => "Infractions" } %>
  	<%= render :partial => "reports/show_generic" %>
</p>

<%if Authorize.not_admin_assistant_authorize(current_staff) && !(Authorize.ra_authorize(current_staff) && @report.submitted)%>
<%= link_to 'Edit', edit_incident_report_path(@report) %> |
<%end%>
<%= link_to 'Back', incident_reports_path %>
