
<div id="WebApp">
    <div id="iHeader" style="background-color: #b22222">
        <a href="#" id="waBackButton">Back</a>
        <span id="waHeadTitle">Incident Report</span>
    </div>
    <div id="iGroup">
        <div class="iLayer" id="waHome" title="Home">
            <form action="/incident_reports.iphone" method="POST">
                <div class="iPanel">
                    <fieldset>
                    <Legend>
                        Showing Incident Report #<%= @incident_report.id %>
                    </Legend>
                    <ul>
                        
                        <li>
                            Submitted:<span><%= @incident_report.submitted %></span>
                        </li>
                        <li>
                            Approach Time:<span><%= @incident_report.approach_time.to_s(:time_only)%></span>
                        </li>
                        <li>
                            Building ID:<span><%= @incident_report.building.name %></span>
                        </li>
                        <li>
                            Room Number:<span><%= @incident_report.room_number %></span>
                        </li>
                        
                    </ul>
                    <Legend>
                        Annotation:
                    </Legend>
                    <ul>
                        <li>
                            <%= Annotation.find(@incident_report.annotation_id).text %>
                        </li>
                    </ul>
                   
                    <% @incident_report.report_participant_relationships.sort! { |a, b|  a.participant.last_name <=> b.participant.last_name } %>
                    
                    <Legend>
                        Student infractions:
                    </Legend>
					<ul>
					<% @incident_report.report_participant_relationships.each do |b| %>
                    <% if b.participant.id != @currentParticipantID %>
					
                    <% @currentParticipantID = b.participant.id %>
					
					<li>
                    <Legend  style="color: #000000">Participant:</Legend>
					<!--<ul>
                        
                            
							<li>
							<% if b.participant.type == "Student" %>
                            
                            <%= b.participant.first_name %> <%= b.participant.last_name %></a>
                       
                        <% else %>
                        
                        <%= b.participant.first_name %> <%= b.participant.last_name %></a>
                    
					
					
                    <% end %>
                    </li>
                </ul>-->
				<Legend style="color: #b22222">
                <% if b.participant.type == "Student" %>
                            
                            &nbsp&nbsp<%= b.participant.first_name %> <%= b.participant.last_name %></a>
                       
                        <% else %>
                        
                       &nbsp&nbsp <%= b.participant.first_name %> <%= b.participant.last_name %></a>
                    
					
					
                    <% end %>
					</Legend>
					<br/>
                <Legend  style="color: #000000">
                    Infractions:
                </Legend>
				
                    <% end %>
				
					<Legend style="color: #b22222">
					&nbsp&nbsp<%= b.relationship_to_report.description %>
					</Legend>
					</li>
                    <% end %>
</ul>
                <ul>
                    <li>
                        Created:<span><%= @incident_report.created_at.to_s(:date_only) %></span>
                    </li>
                </ul>
                <a href='<%=incident_reports_path%>' class="iPush iBClassic" style="width:100%">View Reports</a>
            </fieldset>
        </div>
        </form>
    </div>
</div>
</div>
