<h1>Incident Report <%= @report.id %> </h1>

  <b>Student infractions:</b>
  <% @report.report_participant_relationships.sort! { |a, b|  a.participant.last_name <=> b.participant.last_name } %>

  <% current_participant_id = -1 %>
  <% @report.report_participant_relationships.each do |b| %>
  <% if b.participant.id != current_participant_id %>
   	<% current_participant_id = b.participant.id %>
   	<br />
  	<br />&nbsp;&nbsp;&nbsp;<b> Participant:</b>
  
  	<% if b.participant.type == "Student" %>
  		<a href="../students/<%= b.participant.id %>" target="blank"> <%= b.participant.first_name %> <%= b.participant.last_name %> </a>
  	<% else %>
  		<a href="../participants/<%= b.participant.id %>" target="blank"> <%= b.participant.first_name %> <%= b.participant.last_name %> </a>
  	<% end %>
   <% end %>
  		<br />
  		<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Infraction:</b> 
  		<%= b.relationship_to_report.description %>
  	<% end %>
  
  	<%= render :partial => "reports/show_generic" %>

</p>


<%= link_to 'Edit', edit_incident_report_path(@report) %> |
<%= link_to 'Back', incident_reports_path %>
