<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <body>
        <div id="WebApp">
            <div id="iHeader" style="background-color: #b22222">
                <a href="#" id="waBackButton">Back</a>
                <span id="waHeadTitle">Incident Reports</span>
            </div>
            <div id="iGroup">
                <div class="iLayer" id="waHome" title="Home">
                    <div class = "iPanel">
                        <fieldset>
                            <Legend>
                                Reports:
                            </Legend>
                            <br/>
                            <ul>
                                <% @reports.each do |report| %>
                                <% if report.submitted? != true %>
                                <li>
                                    <span style="padding-top:32px"><a href='<%=edit_incident_report_path(report) %>' class="iPush iBClassic">Edit</a></span>
                                    <a href='incident_reports/<%=report.id %>'>Approach Date: 
                                        <br/>
                                        &nbsp&nbsp<%= report.approach_time.to_s(:date_only) %>
                                        <br/>
                                        Approach Time: 
                                        <br/>
                                        &nbsp&nbsp<%= report.approach_time.to_s(:time_only) %>
                                        <br/>
                                        Building: 
                                        <br/>
                                        &nbsp&nbsp<%= report.building.name %>
                                    </a>
                                </li>
                                <% end %>
                                <% end %>
                            </ul>
                        </fieldset>
                        <a href = "/incident_reports/new_report" class="iPush iBClassic" style="width:100%">New Incident Report</a>
                        <a href = "../home/landingpage" class="iPush iBClassic" style="width:100%">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
