<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <body>
        <div id="WebApp">
            <div id="iHeader" style="background-color: #b22222">
                <a href="#" id="waBackButton">Back</a>
                <span id="waHeadTitle">Incident Reports</span>
				<%=image_tag 'WebApp/radar_circle_logo_mobile.png', :align=>"right", :style=>"padding-right:1px; padding-top:1px; "%>
            </div>
            <div id="iGroup">
                <div class="iLayer" id="waHome" title="Home">
                    <div class = "iPanel">
                        <fieldset>
                            <Legend>
                                Reports:
                            </Legend>
                            <br/>
                            <ul class="iArrow">
                                <% @reports.each do |report| %>
                                <% if report.submitted? != true %>
                                <li>

                                    <a href='<%=edit_incident_report_path(report) %>'>Date: 
                                        <%= report.event_date %>
										<br/>
                                        Time: 
                                        <%= report.event_time %>
                                        <br/>
                                        Building: 
                                        <%= report.building.name %>
                                    </a>
                                </li>
                                <% end %>
                                <% end %>
                            </ul>
                        </fieldset>
                        <a href = "/incident_reports/new" class="iPush iBClassic" style="width:100%">New Incident Report</a>
                        <a href = "../home/landingpage" class="iPush iBClassic" style="width:100%">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
