<p id="notice"><%= notice %></p>

<p>
  <b>Staff:</b>
  <%= @staff_organization.staff_id %>
</p>

<p>
  <b>Organization:</b>
  <%= @staff_organization.organization_id %>
</p>


<%= link_to 'Edit', edit_staff_organization_path(@staff_organization) %> |
<%= link_to 'Back', staff_organizations_path %>
