<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b> <%= f.label :title %></b>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <b><%= f.label :note %></b>
    <%= f.text_field :note %>
  </div>
  <div class="field">
    <b><%= f.label :area %>
    <%= f.collection_select( :area_id, Area.order(:name), :id, :name, {:selected => 1}) %>
  </div>
  <div class="field">
    <b><%= f.label :time %><b/><br />
    <%= radio_button "anytime", "anytime", false, {:checked => @task.time != -1 } %>
    <% if @task.time != -1 %>
      <%= f.text_field :time, :id => "time", :value => @task.time_string %>
    <% else %>
      <%= f.text_field :time, :id => "time", :value => Time.now.at_beginning_of_day.to_s(:time_only) %>
    <% end %>
    <br />
    <%= radio_button "anytime", "anytime", true, {:checked => @task.time == -1 } %>
    <%= f.label :time, "Any Time"%>
  </div>
  <div class="field">
   <b> <%= f.label :start_date %><b/><br />
    <%= f.text_field :start_date, :id => "start_date", :value => @task.start_date_only %><br />
  </div>
  <div class="field">
    <b><%= f.label :end_date, "Expiration"%><b/><br />
    <%= f.radio_button :expires, true, {:checked => @task.expires==true } %>
    <%= f.text_field :end_date, :id => "end_date", :value => @task.end_date_only %><br />
    <%= f.radio_button :expires, false, {:checked => @task.expires==false } %>
    <%= f.label :expires, "No Expiration"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
  AnyTime.picker( "start_date",
  { format: "%b %D, %z", firstDOW: 0 } );
</script>
<script type="text/javascript">
  AnyTime.picker( "end_date",
  { format: "%b %D, %z", firstDOW: 0 } );
</script>
<script type="text/javascript">
  AnyTime.picker( "time",
  { format: "%I:%i%p", firstDOW: 0 } );
</script>