<div id="inside_container" class="inside_container">
<div class="form_header">Task Descriptions</div>
      <% if can? :create, Task %><li><%= link_to "New Task", new_task_path  %></li><% end %>
  <table>
    <tr>
      <th><%= link_to "Title", :sort => "title" %></th>
      <th><%= link_to "Note", :sort => "note" %></th>
      <th><%= link_to "Time Due", :sort => "time" %></th>
      <th><%= link_to "Area", :sort => "area" %></th>
      <th><%= link_to "Start Date", :sort => "start_date" %></th>
      <th><%= link_to "End Date", :sort => "end_date" %></th>
      <th><%= link_to "Status", :sort => "status" %></th>
      <th></th>
      <th></th>
    </tr>

    <%= render :partial => "tasks/task_table_row", :locals => { :tasks => @tasks, :num_rows=>0 } %>

  </table>

  <br />
</div>