<% if students.respond_to?('total_pages') %>
  <%= will_paginate students %>
<% end %>
<table class="student_list" >
  <tr>
    <th></th>
    <%if can? :view_student_id, Student %>
      <th><%= link_to "Student ID", :sort => "student_id" %></th>
    <% end %>
    <th><%= link_to "First Name", :sort => "first_name" %></th>
    <th><%= link_to "MI", :sort => "middle_initial" %></th>
    <th><%= link_to "Last Name", :sort => "last_name" %></th>
    <th><%= link_to "Building", :sort => "building" %></th>
    <th><%= link_to "Room #", :sort => "room_number" %></th>
    <th><%= link_to "Ext. #", :sort => "extension" %></th>
    <th><%= link_to "Email", :sort => "email" %></th>
    <th><%= link_to "Date of Birth", :sort => "birthday" %></th>
  </tr>
  <% num_rows = 0 %>
  <% students.each do |p| %>

    <% if num_rows == 0 %>
      <% num_rows = num_rows + 1 %>
      <tr id=<%= p.student_id %> class="shaded">
      <% else %>
        <% num_rows = 0 %>
      <tr id=<%= p.student_id %> >
      <% end %>
      <%= render :partial => "full_info", :locals => { :student => p} %>
    <% end %>
</table>
