
    <td><%= image_tag(student.getThumbnailUrl, :border=> 0)  %></td>
	<%if current_staff.access_level > Authorize.ra_access_level %>
    	<td><%= student.student_id %></td>
	<% end %>
    <td><%= student.first_name %></td>
    <td><%= student.last_name %></td>
    <td><%= student.building.name %></td>
    <td><%= student.room_number %></td>
	<td><%= student.extension %></td>
    <td><%= student.getAge(student.birthday) %></td>
	<% if student.birthday >= -21.years.from_now %>
		<td><font color="red"><%= student.birthday != nil ? student.birthday.strftime("%m/%d/%Y") : "" %></font></td>
	<% else %>
		<td><%= student.birthday != nil ? student.birthday.strftime("%m/%d/%Y") : "" %></td>
	<% end %>
    
    <td><%= link_to 'Show', student %></td>
	<%if staff_signed_in? %>
		<%if current_staff.access_level > Authorize.admin_assistant_access_level %>
    		<td><%= link_to 'Edit', edit_student_path(student) %></td>
    		<td><%= link_to 'Destroy', student, :confirm => 'Are you sure?', :method => :delete %></td>
		<% end %>
	<% end %>
</tr>