
<td><%= link_to image_tag(student.getImageUrl, :border=> 0, :width => 50), :action => 'show', :id => student.id  %></td>
<%if can? :view_student_id, student %>
  <td><%= student.student_id %></td>
<% end %>
<td><%= student.first_name %></td>
<td><%= student.middle_initial %></td>
<td><%= student.last_name %></td>
<td><%= student.building.name %></td>
<td><%= student.room_number %></td>
<td><%= student.extension %></td>
<td><%= student.email %></td>
<% if student.birthday > -21.years.from_now %>
  <td><font color="CC3333"><%= student.birthday != nil ? student.birthday_string : "" %></font></td>
<% else %>
  <td><%= student.birthday != nil ? student.birthday_string : "" %></td>
<% end %>

<td><%= link_to 'Show', student %></td>
<%if staff_signed_in? %>
  <td><%= link_to 'Edit', edit_student_path(student) if can? :edit, student %></td>
  <td><%= link_to 'Destroy', student, :confirm => 'Are you sure?', :method => :delete if can? :destroy, student %></td>
<% end %>
</tr>