<h1>Listing Students</h1>

<table>
  <tr>
    <th>Particpant ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Building</th>
    <th>Room Number</th>
    <th>Age</th>
    <th>Home Phone</th>
    <th>Cell Phone</th>
    <th>Photo URL</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.id %></td>
    <td><%= student.first_name %></td>
    <td><%= student.last_name %></td>
    <td><%= student.building.name %></td>
    <td><%= student.room_number %></td>
    <td><%= student.age %></td>
    <td><%= student.home_phone %></td>
    <td><%= student.cell_phone %></td>
    <td><%= student.url %></td>
    
    <td> </td>
    <td><%= link_to 'Show', student %></td>
    <td><%= link_to 'Edit', edit_student_path(student) %></td>
    <td><%= link_to 'Destroy', student, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student', new_student_path %>
