<div id="iGroup">
  <div class="iLayer" id="waSearchResults" title="Search Results">
    <a href="#" id="waSearchStudents" rel="back"  >Back</a>
    <div class="iPanel">

		<%= form_tag ("/students/use_search_results_to_create_new_report")  do -%>
			<fieldset>
			
			<td><h1>Search Results</h1></td>
			<td style="width: 150px;"></td>
			<td><%= submit_tag "Add To New Incident Report" %></td>
			<td><%= submit_tag "Add To New Maintenance Request" %></td>
<ul>
			<% @students.each do |student| %>
		     <li class="inline" >
			<% content_tag :input,  :type=>"checkbox", :name=>"#{student.id}", :id=>"#{student.id}"  do -%><% end -%>
			
			
			 <%= content_tag :a, :href=>"#_StudentDetails_#{student.id}", :class=>"inline" do -%>
				<%=image_tag(student.getImageUrl, :border=> 0, :width=>30, :class=>"inline") %><%= "#{student.name}" %>
			  <% end -%>
		</li>
			<% end %>
      </ul>
			</fieldset>

		<% end -%>
	</div>  
  </div>
   <% @students.each do |student| %>
	    
	  <%= content_tag :div, :class => "iLayer" , :id => "waStudentDetails_#{student.id}" do -%>
	        <% content_tag :a, :href=>"#",  :id=>"waBackButton" , :rel=>"back" do -%>Back<% end -%> 
			<div    align="center" >
				<% content_tag :img,   :src=>"#{student.getImageUrl}" do -%><br/><% end -%>
				<%= "#{student.first_name} #{student.middle_initial} #{student.last_name}" %>
			</div>
		
         
		<fieldset>
			<%=  render :partial=>"participants/participant_details", :locals=> { :participant => student } %>
		</fieldset>
     <% end -%>
  <% end %>
</div>