<div id="inside_container" class="inside_container">
  <h1><%= "#{@student.name}" %></h1>
  <p id="notice"><%= notice %></p>
  <p>
    <%= link_to image_tag(@student.getImageUrl, :border=>0, :width => 150) %>
  </p>

  <p>
    <b>Student ID:</b>
    <%= @student.student_id %>
  </p>

  <p>
    <b>Residence:</b>
    <%= "#{@student.room_number} #{@student.residence_hall}" %>
  </p>

  <p>
    <b>Phone Extension:</b>
    <%= @student.extension %>
  </p>
  <p>
    <b>Email:</b>
    <%= @student.email %>
  </p>
  <p>
    <b>Grade:</b>
    <%= @student.classification %>
  </p>
  <p>
    <b>Age:</b>
    <% if @student.is_of_drinking_age? %>
      <font color="CC3333"><%= @student.getAge(@student.birthday) %> </font>
    <% else %>
      <%= @student.getAge(@student.birthday) %>
    <% end %>
  </p>

  <p>
    <b>Date of Birth:</b>
    <% if @student.is_of_drinking_age? %>
      <span class="underage"><%= @student.birthday != nil ? @student.birthday_string : "" %></span>
    <% else %>
      <%= @student.birthday != nil ? @student.birthday_string : "" %>
    <% end %>
  </p>

  <%if can? :view_contact_info, @student %>
    <p>
      <b>Home Phone:</b>
      <%= @student.home_phone %>
    </p>
    <p>
      <b>Cell Phone:</b>
      <%= @student.cell_phone %>
    </p>

    <p>
      <b>Emergency Contact Information: </b>
      <% if (@student.emergency_contact_name !=nil) %>
        <%=  "#{@student.emergency_contact_name}" %>
      <% else %>
        <%=  "Unknown" %>
      <% end %>
      <b> @ </b>
      <% if (@student.emContact !=nil) %>
        <%=  "#{@student.emContact}" %>
      <% else %>
        <%=  "Unknown" %>
      <% end %>
    </p>
  <% end %>
</div>






