<h1>Showing Student <%= @student.id %></h1>
<p id="notice"><%= notice %></p>

<%if staff_signed_in? %>
	<%if current_staff.role == "Admin" %>
<p>
  <b>Student ID:</b>
  <%= @student.student_id %>
</p>
	<% end %>
<% end %>	
<p>
  <b>First Name:</b>
  <%= @student.first_name %>
</p>

<p>
  <b>Last Name:</b>
  <%= @student.last_name %>
</p>
<p>
  <b>Building:</b>
  <%= @student.building.name %>
</p>
<p>
  <b>Room Number:</b>
  <%= @student.room_number %>
</p>
<p>
  <b>Phone Extension:</b>
  <%= @student.extension %>
</p>
<p>
  <b>Age:</b>
  <%= @student.age %>
</p>
<p>
  <b>Birthday:</b>
  <%= @student.birthday.strftime("%m/%d/%Y") %>
</p>
<%if staff_signed_in? %>
	<%if current_staff.role == "Admin" %>

<p>
  <b>Home Phone:</b>
  <%= @student.home_phone %>
</p>
<p>
  <b>Cell Phone:</b>
  <%= @student.cell_phone %>
</p>
<p>
  <b>Emergency Contact:</b>
  <%= @student.emContact %>
</p>
	

	<% end %>
<% end %>

<p>
	<b>Picture:</b>
	<!--  rkg make getURLforID a class method so that you don't
	need to create a new students controller each time through  -->
	<% test = StudentsController.new() %>
	<% image_url = test.getURLforID(@student.id) %>
	<%= link_to image_tag(image_url, :border=>0) %>
</p>






 

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
