<div id="inside_container" class="inside_container">
<h1><%= "#{@student.first_name} #{@student.last_name}" %></h1>
<p id="notice"><%= notice %></p>

<%if staff_signed_in? %>
	<%if current_staff.access_level > Authorize.ra_access_level %>
<p>
  <b>Student ID:</b>
  <%= @student.student_id %>
</p>
	<% end %>
<% end %>	

<p>
  <b>Residence:</b>
  <%= "#{@student.room_number} #{@student.building.name}" %>
</p>

<p>
  <b>Phone Extension:</b>
  <%= @student.extension %>
</p>
<p>
  <b>Age:</b>
  <% if @student.birthday > -21.years.from_now %>
	<font color="CC3333"><%= @student.getAge(@student.birthday) %> </font>
  <% else %>
	<%= @student.getAge(@student.birthday) %>
  <% end %>
</p>

<p>
  <b>Date of Birth:</b>
  <% if @student.birthday > -21.years.from_now %>
	<font color="CC3333"><%= @student.birthday != nil ? @student.birthday.to_s(:short_date_only) : "" %></font>
  <% else %>
	<%= @student.birthday != nil ? @student.birthday.to_s(:short_date_only) : "" %>
  <% end %>
</p>

<%if staff_signed_in? %>
	<%if current_staff.access_level > Authorize.ra_access_level %>

<p>
  <b>Home Phone:</b>
  <%= @student.home_phone %>
</p>
<p>
  <b>Cell Phone:</b>
  <%= @student.cell_phone %>
</p>
<p>
  <b>Emergency Contact:</b>
  <%= @student.emContact %>
</p>
	

	<% end %>
<% end %>

<p>
	<%= link_to image_tag(@student.getImageUrl, :border=>0) %>
</p>
</div>





 
