<div id="inside_container" class="inside_container">
  <h1><%= "#{@student.name}" " ID: #{@student.student_id}" %></h1>
  <%= render :partial=>"participants/participant_history", :locals=> { :participant => @student, :history => @student.contact_history } %>
  <p id="notice"><%= notice %></p>
  <div style="display: inline-block;" >
 
    <%= link_to image_tag(@student.getImageUrl, :border=>0, :width => 150) %>
  </div>
<div class="student_info" style="display: inline-block;vertical-align:top" >
    <%= label_tag 'residence' do %><%= t 'residence' %>:<% end %>
    <%= "#{@student.room_number} #{@student.residence_hall}" %>
<br/>
    <%= label_tag 'extension' do %><%= t "extension" %>:<% end %>
    <%= @student.extension %>
<br/>
    <%= label_tag 'email' do %><%= t 'email' %>:<% end %>
    <%= @student.email %>
<br/>
    <%= label_tag 'grade', do %><%= t 'grade_level' %>:<% end %>
    <%= @student.grade_level %>
<br/>
    <%= render :partial=>"participants/age", :locals=> { :participant => @student, :pclass=>"show_label" } %>
<br/>
  <%= render :partial=>"participants/birthday", :locals=> { :participant => @student, :pclass=>"show_label" } %>
<br/>
  <%if can? :view_contact_info, @student %>
      <%= label_tag 'homePhone', 'Home Phone:' %>
      <%= @student.home_phone %>
<br/>
      <%= label_tag 'cellPhone', 'Cell Phone:' %>
      <%= @student.cell_phone %>
<br/>
      <%= label_tag 'contact' do %><%= t 'emergency_contact_info' %>:<% end %>
      <%= @student.emergency_contact_name.nil? ? unknown : "#{@student.emergency_contact_name}" %>
      <b> @ </b>
      <%= @student.emContact.nil? ? unknown : "#{@student.emContact}" %>
  <% end %>
  
</div>
</div>






