
<ul>
  <%=link_to image_tag("radar_logo.png", :title=>"RADAR Home", :align=>'left'), "/" %>
  <li><%= link_to "Home", "/"  %>
  <% if can? :index, Student %>
  <li><%= link_to "Search", search_participants_path  %>
    <ul>
      <li><%= link_to "Students", search_participants_path  %></li>
	  <% if can? :search, Report %><li><%= link_to "Reports", reports_path  %></li>   <% end %>   
    </ul>
  </li>
  <% end %>
  <% Organization.all.each do |org| -%>
	<% if current_staff.member_of? org.class %>
		<%= render "organizations/orgs/#{org.class.name}/org_features" %>
	<% end %>
  <% end -%>

  <li><%= link_to "Manage", staffs_path %>
    <ul>
      <% if can? :index, Staff %><li><%= link_to "Manage Staff Members", staffs_path %></li><% end %>
      <% if can? :index, Building %><li><%= link_to "Manage Buildings", buildings_path  %></li><% end %>
      <% if can? :index, Area %><li><%= link_to "Manage Areas", areas_path %></li><% end %>
	  <% if can? :index, Task  %><li><%= link_to "Manage Tasks", tasks_path %></li><% end %>
	  <% if can? :index, RelationshipToReport %><li><%= link_to "Manage Contact Reasons", relationship_to_reports_path  %></li><% end %>
    </ul>
  </li>
</ul>
