<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <% @loc =  "#{@report.room_number}" +" " + @report.building.name %>
    <%  @loc = @loc.match(/Unspecified/)? "an unspecified location" : @loc.strip %>
    <p><h3><%= @report.display_name.match(/^[AaEeIiOoUu]/)? "An":"A" %> <%= @report.display_name %> has been forwarded to you by <%= @first_name%> <%= @last_name%> regarding <%= @loc %> on <%= @report.created_at_string %>.</h3></p>

  <% @report.report_participant_relationships.sort! { |a, b|  a.participant.last_name <=> b.participant.last_name } %>

  <% current_participant_id = -1 %>

  <b> <%= t "annotation" %></b>
  <%= @report.annotation_text %><br/><br />
  <b><%= t "location" %></b>
  <%= @report.building.name %><br/><br />
  <b>Room Number:</b>
  <%= @report.room_number %><br/><br />

  <b>Interested Parties</b>
  <div style="margin-left: 15px;">
    <% @report.report_participant_relationships.each do |b| %>
      <% if b.participant.id != current_participant_id %>
        <% if current_participant_id != -1 # aka we're starting a new participant %>
        </td>
      </tr>
      </table>
      </p>
    <% end %>
    <% current_participant_id = b.participant.id %>
    <p>
    <table>
      <tr>
        <td style="vertical-align: top;">
          <%=image_tag(b.participant.getImageUrl, :width=> 50 ) %>
        </td>
        <td style="vertical-align: top;">
            <%= b.participant.name %>
          <br />

          <b>Details</b>
          <div class="participant_detail">
            <div style="margin-left: 15px;">

              <span style="font-style: italic;">Residence: </span>
              <% if (b.participant.building_id != nil) %>
                <%=  "#{b.participant.room_number} #{Building.find(b.participant.building_id).name}" %><br/>
              <% else %>
                <%=  "Unknown" %><br/>
              <% end %>

              <span style="font-style: italic;">Extension: </span>
              <span style="font-style: italic;"> @ </span>
              <% if (b.participant.extension !=nil) %>
                <%=  "#{b.participant.extension}" %>
              <% else %>
                <%=  "Unknown" %>
              <% end %>
            </div>
          </div>

        <% end %>
        <br />

      <% end %>

      <% if @report.report_participant_relationships.count >= 1%>
      </td>
    </tr>
  </table>
<% end %>
</p>
</div>
</body>
</html>