<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <p><%= @first_name %> <%= @last_name %>,</p> 
  <% @reports_keys.each do |rs| %>
	<h3><%=rs+"s" %></h3>
	<% @reports.fetch(rs).each do |r| %>
		<% @loc =  "#{r.room_number}" +" " + Building.find(r.building_id).name %>
		<%  @loc = @loc.match(/Unspecified/)? "an unspecified location" : @loc.strip %>
		<% @report_url = "http://#{report_host_ip}/"+r.class.name.tableize+"/"+r.id.to_s %>
			
		<p><%= r.display_name.match(/^[AaEeIiOoUu]/)? "An":"A" %> <a href="<%= @report_url %>"><%= r.display_name %></a> has been submitted by <%= Staff.find(r.staff_id).first_name%> <%= Staff.find(r.staff_id).last_name%> regarding <%= @loc %> on <%= r.created_at.to_s(:my_time) %>.</p>
  
	<% end %>
  <% end %>
  </body>
</html>