<%= form_for(@participant) do |f| %>
  <% if @participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participant.errors.count, "error") %> prohibited this participant from being saved:</h2>

      <ul>
      <% @participant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_initial %><br />
    <%= f.text_field :middle_initial %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :affiliation %><br />
    <%= f.text_field :affiliation %>
  </div>
  <div class="field">
	<%= f.label :birthday, "Date of Birth" %>:<br />
	<%= f.date_select :birthday, :start_year => 1940, :end_year => Time.now.year, :order => [:month, :day, :year] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
