<div id="newParticipantPartialDiv">
  <%= form_tag('/reports/create_participant_and_add_to_report', :method => :post, :remote => true) do %>
    <h3>No entries found for <%= "#{fName} #{lName}" %></h3>
	<%= label :participant, :first_name %>
	<%= text_field_tag 'first_name', "#{fName}" %>
	<br />
	<%= label :participant, :last_name %>
	<%= text_field_tag 'last_name', "#{lName}" %>
	<br />
	<%= label :participant, :affiliation %>
	<%= text_field_tag 'affiliation', nil %>
	<br />
	<%= label :participant, :birthday %>
	<%= date_select 'range', :birthday, :start_year => 1940, :end_year => Time.now.year, :order => [:month, :day, :year] %>
	<br />
	<%= submit_tag "Create Participant",  :name => "create_participant" %>
	<input type="button" value="Cancel" name="cancel" onClick="document.getElementById('new-part-div').innerHTML = '';" >	
  <% end %>
</div>