<fieldset>
  <ul>
    <li>
	   <%= t :grade_level %>
	   <%= participant.grade_level rescue unknown %>
	</li>
    <li>
      <%= t :birthday %>
      <%= participant.birthday_string  %>
    </li>
    <li>
      <%= "Room: " %>
      <%= participant.room_number rescue unknown %>
      <%= " " %>
      <%= participant.residence_hall rescue unknown %>
    </li>
    <li>
      <%= t :extension %>
      <%= participant.extension rescue unknown %>
    </li>
    <% if can? :view_contact_info, Student %>
      <li>
        <%= "Emergency Contact: " %>
        <%= participant.emergency_contact_name rescue unknown %>
        <%= " @ " if participant.emergency_contact_name != nil && participant.emContact!=nil %>
        <%= participant.emContact rescue unknown %>
      </li>
    <% end %>
  </ul>
</fieldset> 
