<%= link_to image_tag("/images/add_icon.gif", :id => "#{participant.id}-details_img"), "javascript:void(0)",  
  :onclick => "plusMinusToggle('details_div_#{participant.id}', '#{participant.id}-details_img');" %>
<b>Details</b>
<div id="details_div_<%= participant.id %>" class="participant_detail">
  <div style="margin-left: 15px;">
    <span class="detail_label">Student ID #: </span>
    <%=  participant.student_id rescue "Unknown" %><br/>
	<span class="detail_label"><%= t :class %> </span><%= participant.grade_level rescue unknown %></br>
    <span class="detail_label"><%= t :birthday %> </span>
    <% if participant.is_of_drinking_age? %>
      <span class="underage"><%= participant.birthday_string %></span>
    <%  else  %>
      <%=  participant.birthday_string  %>
    <% end %> <br/>

    <span class="detail_label"><%= t :residence %> </span>
    <%=  participant.room_number rescue "" %> <%=  participant.residence_hall rescue unknown %><br/>

 
	<span class="detail_label"><%= t :extension %></span>
    <%= participant.extension rescue "Unknown" %><br/>

    <div id="emergency_contact">
      <% if can? :view_contact_info, Student %>
        <span class="detail_label">Emergency Contact: </span>
        <%= participant.emergency_contact_name rescue "" %>
        <%= " @ " if participant.emergency_contact_name != nil && participant.emContact!=nil %>
        <%= participant.emContact rescue "Unknown" %><br />
      <% end %>
    </div>
  </div>
</div>

