<fieldset>
  <ul>
    <li>
      <%= "Birthday: " %>
      <%= participant.birthday_string rescue "Unknown" %>
    </li>
    <li>
      <%= "Room: " %>
      <%= participant.room_number rescue "" %>
      <%= " " %>
      <%= participant.building.name rescue "Unknown" %>
    </li>
    <li>
      <%= "Extension: " %>
      <%= participant.emergency_contact_name rescue "Unkown Name" %>
      <%= " @ " %>
      <%= participant.emContact rescue "Unknown Number" %>
    </li>
  </ul>
</fieldset> 
