<div id="inside_container" class="inside_container">
<%= form_tag search_participants_path %>
  
<div class="form_header"><%= t :participant_search %></div>

<table style="vertical-align: middle; border:none; margin: none;">
	<tr>
		<td>
			<div class="field">
				<%= label_tag "Name" , nil, { :class => "bold_label" } %><br />
				<%=  render :partial => 'participants/autocomplete_full_name' %>  
			</div>
		</td>
		<td>
			-or-
		<td>
			<div class="field">
    			<%= label_tag "Student ID" , nil, { :class => "bold_label" } %><br />
    			<%= text_field_tag "student_id" %>
  			</div>
		</td>
	</tr>
</table>
<div class="actions">
    <%= submit_tag "Submit" %>
</div>
<br />
<hr />
  	

<table style="vertical-align: middle; border:none; margin: none;">
	<tr>
		<td>
			<div class="field">
    			<b>Building:</b><br />
				<% res_halls = Building.where(:is_residence => true) %>
    			<%= select_tag "building_id", options_from_collection_for_select(res_halls, "id", "name") %>
			</div>
			<div class="field">
				<b>Room Number:</b><br />
				<%= text_field_tag "room_number" %> 
			</div>
		</td>
		<td>
		<td>
			<div class="field">
    			<b>Area:</b><br />
				<% areas = Area.all %>
					<%= select_tag "area_id", options_from_collection_for_select(areas,"id", "name") %>
				</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="field">
    			<b>Born After:</b>
				
				 <%= text_field(:participant, :born_after, :id => "born_after",:size=>'12') %>
<br />
			</div>
		</td>
		<td>
		</td>
		<td>
			<div class="field">
    			<b>Born Before:</b>
				<%= text_field(:participant, :born_before, :id => "born_before" , :size=>'12') %><br/>
  			</div>
		</td>
	</tr>
</table>

<div class="actions">
    <%= submit_tag "Submit" %>
</div>
</div>

<script type="text/javascript">
  var rangeDemoFormat = "%e-%b-%Y";
	AnyTime.picker("born_after",
	{ format: rangeDemoFormat, firstDOW: 0 });

   AnyTime.picker( "born_before",
	{ format: rangeDemoFormat, firstDOW: 0 } );

</script>