<div id="inside_container" class="inside_container">
<% if @participants.count == 0 %>
	No participants match search criteria.
<% else %>
<%= form_tag new_with_participants_reports_path %>
<table>
	<tr>
		<td><div class="form_header"><%= t :student_search_results %></div></td>
		<td style="width: 150px;"></td>
		<td>						
			<%= submit_tag "Add" %>&nbsp;to
			<%= select_tag "report_type",
				options_from_collection_for_select(ReportTypesHelper::selectable_by(current_ability), "name", "display_name", current_staff.preferred_report_type.name ),
				:id => 'report_select_id' %>
		</td>
	</tr>
</table>

  <%= render :partial => "selectable_full_info_list", :locals => { :participants => @participants} %>

<p>
	Showing <%= @num_results %> of <%= @num_results %> results.
</p>


<% end %>
</div>

<script>
 function xmit(rtype) {
	$('report_type').value = rtype
	submit();
  }
</script>