<div id="inside_container" class="inside_container">
<%= form_tag search_participants_path %>
  
<div class="form_header"><%= t :participant_search %></div>

<table style="vertical-align: middle; border:none; margin: none;">
	<tr>
		<td>
			<%= submit_tag "Submit" %>	   
			<input id="reset" name="reset" type="reset" value="Reset" onclick="clear_fields(this);" />
		</td>
	</tr>
	<tr>
		<td>
			<div class="field">
				<%= label_tag "Name"  %><br />
				<%=  render :partial => 'participants/autocomplete_full_name' %>  
			</div>
			<div class="field">
    			<%= label_tag "Student ID" %><br />
    			<%= text_field_tag "student_id" %>
  			</div>
		</td>
	</tr>

	<tr>
		<td>
			<div class="field">
    			<%= label_tag "Building:" %><br />				
    			<%= select_tag "building_id", options_from_collection_for_select(BuildingsHelper::residence_halls, "id", "name"), :include_blank => true %>
				<br/><%= label_tag "Room Number:" %><br/>
				<%= text_field_tag "room_number" %> 
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="field">
    			<b>Area:</b><br />				
					<%= select_tag "area_id", options_from_collection_for_select(AreasHelper::areas,"id", "name"), :include_blank => true %>
				</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="field">
    			<b>Born After:</b>
				
				 <%= text_field(:participant, :born_after, :id => "born_after",:size=>'12') %>

    			<b>Born Before:</b>
				<%= text_field(:participant, :born_before, :id => "born_before" , :size=>'12') %><br/>
  			</div>
		</td>
	</tr>
</table>


</div>

<script type="text/javascript">
  var rangeDemoFormat = "%e-%b-%Y";
	AnyTime.picker("born_after",
	{ format: rangeDemoFormat, firstDOW: 0 });

   AnyTime.picker( "born_before",
	{ format: rangeDemoFormat, firstDOW: 0 } );

	// Clear hidden field containing participant id. Reset button does 
// not do this.
function clear_fields(elem) {
  document.getElementById("participant_id").value = ""
  return false;
}
</script>