<h1>Showing Participant <%= @participant.id %></h1>

<p>
  <b>First name:</b>
  <%= @participant.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @participant.last_name %>
</p>

<p>
  <b>Affiliation:</b>
  <%= @participant.affiliation %>
</p>

<p>
  <b>Age:</b>
  <%= @participant.age %>
</p>


<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
