<div id="inside_container" class="inside_container"><h1><%= "#{@participant.first_name} #{@participant.middle_initial} #{@participant.last_name}" %></h1>

<p>
  <b>First name:</b>
  <%= @participant.first_name %>
</p>

<p>
  <b>Middle initial:</b>
  <%= @participant.middle_initial %>
</p>

<p>
  <b>Last name:</b>
  <%= @participant.last_name %>
</p>

<p>
  <b>Affiliation:</b>
  <%= @participant.affiliation %>
</p>

<p>
  <b>Age:</b>
  <%= @participant.getAge(@participant.birthday) %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %>
</div>