<h1>Search Incident Reports </h1>


  <p>Please enter your search criteria.</b>
  
  <%= form_tag 'search_results' %>
  	
  	<table>
  	<tr>
  		<td>
  		 	<b>Building:</b><br />
  		 	<select id="building_id" name="building_id">
  		 		<option value="0" selected="selected">Select A Building</option>
  		 		<% Building.all.each do |b| %>
  		 	    		<option value="<%= b.id %>"><%= b.name %></option>
  		 	    	<% end %>
  		 	 </select>
  		 </td>
  		 <td>
  	<b>--OR--</b>
  		 </td>
  		 <td>
  		  	<b>Area:</b><br />
  		  	<select id="area_id" name="area_id">
  		 		<option value="0" selected="selected">Select An Area</option>
  		 		<% Area.all.each do |a| %>
  		 	    		<option value="<%= a.id %>"><%= a.name %></option>
  		 	    	<% end %>
  		 	</select>
  		 </td>
  	</tr>
  	</table>
  	
  	<div class="field">
  		 <b>Student:</b><br />  
		 <%=text_field_tag 'full_name', '',  :autocomplete => search_autocomplete_student_full_name_path %> 

  	</div>
  	
  	<div class="field">
  		 <b>Infraction:</b><br />
  		 <select id="infraction_id" name="infraction_id[]" MULTIPLE style="height:150px;">
  		 	<option value="0" selected="selected">Select An Infraction</option>
  		 	<% RelationshipToReport.all.each do |i| %>
  		 	    	<option value="<%= i.id %>"><%= i.description %></option>
  		 	<% end %>
  		 	</select>
  	</div>
  	
  	<div class="field">
  		 <b>Approached Before:</b><br />
  		 <input type="text" id="submitted_before" name="submitted_before"></input>	
  	</div>
  	
  	<div class="field">
  		 <b>Approached After:</b><br />
  		 <input type="text" id="submitted_after" name="submitted_after"></input>	
  	</div>
  	
  	<p></p>
  	<input id="submit" name="submit" type="submit" value="Search Incident Reports" />
  </form>

  

<p>

<%= link_to 'Back', incident_reports_path %>

</p>
