<p id="notice"><%= notice %></p>

<p>
  <b>Detail:</b>
  <%= @report_location.detail %>
</p>

<p>
  <b>Room:</b>
  <%= @report_location.room %>
</p>


<%= link_to 'Edit', edit_report_location_path(@report_location) %> |
<%= link_to 'Back', report_locations_path %>
