<h1>Radar</h1>
<div id = "user_nav">
	<% if staff_signed_in? %>
		Signed in as <%= current_staff.email %> Not You? <%= link_to "Sign Out", destroy_staff_session_path %>
	<% else %>
		<%= link_to "Sign Up", new_staff_registration_path %> or <%= link_to "Sign In", new_staff_session_path %>
	<% end %>
</div>

<% if staff_signed_in? %>
	<p><a href = "http://localhost:3000/students">Students</a></p>
	<% if current_staff.role == "Admin" %>
		<p><a href = "http://localhost:3000/reports">Reports</a></p>
	<% end %>
	<p><a href = "http://localhost:3000/reports/new">New Report</a></p>
	<p><a href = "http://localhost:3000/incident_reports/new_report">New Incident Report</a></p>
<% end %>

<% if staff_signed_in? %>
<p><a href = "http://localhost:3000/search/search">Student Search</a></p>
<% end %>

<hr >
<% if staff_signed_in? %>
	<h3><%= current_staff.first_name %> <%= current_staff.last_name %>'s Unsubmitted Reports</h3>
	<% if @unsubmitted.length > 0 %>
		<table>
			<tr>
				<th>Report ID</th>
				<th>Report Type</th>
				<th>Staff</th>
				<th>Created At</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		<% @unsubmitted.each do |report| %>
			<tr>
				<td><%= report.id %></td>
				<td><%= report.type %></td>
				<td><%= report.staff.first_name %> <%= report.staff.last_name %></td>
				<td><%= report.created_at.to_s(:my_time) %></td>
				<td><%= link_to 'Show', report %></td>
				<% if report.type == "IncidentReport" %>
				<td><%= link_to 'Edit', edit_incident_report_path(report) %></td>
				<% else %>
				<td><%= link_to 'Edit', edit_report_path(report) %></td>
				<% end %>
				<td><%= link_to 'Destroy', report, :confirm => 'Are you sure?', :method => :delete %></td>
			</tr>
		<% end %>
		</table>
	<% else %>
		<p> No Unsubmitted Reports </p>
	<% end %>
	
	<% if current_staff.role == "Admin" %>
		<hr >
		<h3>Recent Reports</h3>
		<% count = 0 %>
			<% if @recent.length > 0 %>
				<table>
				  <tr>
					<th>Report ID</th>
					<th>Report Type</th>
					<th>Staff</th>
					<th>Approach Time</th>
					<th></th>
					<th></th>
					<th></th>
				  </tr>
				
				<% @recent.each do |report| %>
					<% if report.created_at.to_f > current_staff.last_sign_in_at.to_f %>
						<tr>
							<td><%= report.id %></td>
							<td><%= report.type %></td>
							<td><%= report.staff.first_name %> <%= report.staff.last_name %></td>
							<td><%= report.approach_time.to_s(:my_time) %></td>
							<td><%= link_to 'Show', report %></td>
							<td><%= link_to 'Edit', edit_report_path(report) %></td>
							<td><%= link_to 'Destroy', report, :confirm => 'Are you sure?', :method => :delete %></td>
						</tr>
					<% end %>  
				<% end %>
				</table>
			<% else %>
				<p> No Recent Reports </p>
			<% end %>
	<% end %>	
<% end %>
