<%= form_for(@reported_infraction) do |f| %>
  <% if @reported_infraction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reported_infraction.errors.count, "error") %> prohibited this reported_infraction from being saved:</h2>

      <ul>
      <% @reported_infraction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Incident Report ID:<br />
    <%= f.text_field :incident_report_id %>
  </div>
  <div class="field">
    Infraction ID:<br />
    <%= f.text_field :infraction_id %>
  </div>
  <div class="field">
    Participant ID:<br />
    <%= f.text_field :participant_id %>
  </div>  
  
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
