<h1>Listing Reported Infractions</h1>

<table>
  <tr>
    <th>Incident Report ID</th>
    <th>Infraction ID</th>
    <th>Participant Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reported_infractions.each do |reported_infraction| %>
  <% if @numRows == 0 %>
    <% @numRows = @numRows + 1 %>
    <tr class="shaded">
  <% else %>
    <% @numRows = 0 %> 
    <tr>
  <% end %>
    <td><%= reported_infraction.incident_report_id %></td>
    <td><%= reported_infraction.infraction.description %></td>
    <td><%= reported_infraction.participant.first_name %>
    	<%= reported_infraction.participant.last_name %></td>
    <td><%= link_to 'Show', reported_infraction %></td>
    <td><%= link_to 'Edit', edit_reported_infraction_path(reported_infraction) %></td>
    <td><%= link_to 'Destroy', reported_infraction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reported infraction', new_reported_infraction_path %>
