<h1>Showing Reported Infraction <%= @reported_infraction.id %></h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Report ID:</b>
  <%= @reported_infraction.incident_report_id %>
</p>

<p>
  <b>Infraction:</b>
  <%= Infraction.find(@reported_infraction.infraction_id).description %>
</p>

<p>
  <b>Participant:</b>
  <%= @reported_infraction.participant.first_name %> 
  <%= @reported_infraction.participant.last_name %>
</p>




<%= link_to 'Edit', edit_reported_infraction_path(@reported_infraction) %> |
<%= link_to 'Back', reported_infractions_path %>
