<h1>Showing Reported Infraction <%= @reported_infraction.id %></h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Report ID:</b>
  <%= @reported_infraction.incident_report_id %>
</p>

<p>
  <b>Infraction ID:</b>
  <%= @reported_infraction.infraction_id %>
</p>

<p>
  <b>Participant:</b>
  <%= @reported_infraction.participant.first_name %> 
  <%= @reported_infraction.participant.last_name %>
</p>

<p>
  <b>Created At:</b>
  <%= @reported_infraction.created_at.to_s(:my_time) %>
</p>

<p>
  <b>Updated At:</b>
  <%= @reported_infraction.updated_at.to_s(:my_time) %>
</p>




<%= link_to 'Edit', edit_reported_infraction_path(@reported_infraction) %> |
<%= link_to 'Back', reported_infractions_path %>
