<div id="inside_container" class="inside_container">
  <b><font size ="2"><%= "Off Round" %></font></b><font size ="2" color="595959">
    <%= "[reports created between rounds]" %></font><br />
  <div class="field">
    <% if reports.length > 0 %>
     <%= link_to image_tag("/images/add_icon.gif", :id => "off-round-reports-img"), "javascript:void(0)",
        :onclick => "plusMinusToggle('off-round-reports', 'off-round-reports-img');" %>
  	    Reports <%= " (#{reports.length})" %>
        <div id="off-round-reports" style="display: none;" class='shift_log_div' >
          <div id="off-round-reports-div" >
            <%= render :partial => "reports/report_index_body", :locals => { :reports => reports, :num_rows=>0, :report_type => reports.first.report_type } %>
          </div>
        </div>
	<% else %>
        No reports were created while not on a round.
    <% end %>
  </div>
  <div class="field" > 
    <% if notes.length > 0 %>
      <%= link_to image_tag("/images/add_icon.gif", :id => "off-round-notes-img"), "javascript:void(0)",
        :onclick => "plusMinusToggle('off-round-notes', 'off-round-notes-img');" %>
  	    Notes<%= " (#{notes.length})" %>
      <div id="off-round-notes" class='shift_log_div' style="display: none;">      
          <div id="off-round-notes-div" >
            <%= render :partial => "reports/report_index_body", :locals => { :reports => notes, :num_rows=>0, :report_type => notes.first.report_type } %>
          </div>       
      </div>
	<% else %>
        No notes were created while not on a round.
    <% end %>
  </div>
</div>
