<div id="inside_container" class="inside_container">
  <b><font size ="2"><%= "Round #{round_count}" %></font></b><font size ="2" color="595959">
    <%= "[#{round.start_date}, #{round.start_time} - #{round.end_date}, #{round.end_time_only}]" %></font><br />
  <div class="field" >
   <% if reports.length > 0 %>
    <%= link_to image_tag("/images/add_icon.gif", :id => "#{round.id}-reports-img"), "javascript:void(0)",
        :onclick => "plusMinusToggle('#{round.id}-reports', '#{round.id}-reports-img');" %>

  	    Reports <%= " (#{reports.length})" %>
    <div id="<%= round.id %>-reports" style="display: none;" class='shift_log_div' >
      <div id="round <%= round.id %>-reports-div" >      
          <%= render :partial => "reports/report_index_body", :locals => { :reports => reports, :num_rows=>0, :report_type => reports.first.report_type } %>      
      </div>
    </div>
   <% else %>
      No reports were submitted for this round.
   <% end %>
  </div>
  <div  class="field" >
      <% if notes.length > 0 %>
       <%= link_to image_tag("/images/add_icon.gif", :id => "#{round.id}-notes-img"), "javascript:void(0)",
             :onclick => "plusMinusToggle('#{round.id}-notes', '#{round.id}-notes-img');" %>

  	    Notes<%= " (#{notes.length})" %>
      <div id="<%= round.id %>-notes" class='shift_log_div' style="display: none;">
        <div id="round <%= round.id %>-notes-div" >
          <%= render :partial => "reports/report_index_body", :locals => { :reports => notes, :num_rows=>0 } %>      
        </div>
      </div>
	<% else %>
        No notes were submitted for this round.
    <% end %>
  </div>
</div>
