<% shifts.each do |shift| %>

  <% if @numRows == 0 %>
    <% @numRows = @numRows + 1 %>
    <tr class="shaded">
    <% else %>
      <% @numRows = 0 %>
    <tr>
    <% end %>

    <td><%= "#{shift.start_date}, #{shift.start_time}" %></td>
    <td><%= "#{shift.end_date}, #{shift.end_time}" rescue "In Progress" %></td>
    <td><%= shift.area.name rescue "Unknown" %></td>
    <td><%= shift.staff.last_name %>, <%= shift.staff.first_name %></td>
    <td>
      <% if shift.time_out != nil %>
        <%= link_to "View #{shift.staff.access_level.log_type.capitalize} Log", :controller => "shifts", :action => "#{shift.staff.access_level.log_type}_log", :id => shift if can? :shift_log, shift %></td>
      <td>
        <%= link_to 'Edit', edit_shift_path(shift) if can? :edit, shift %>
      <% end %>
    </td>
  </tr>

<% end %>