<div id="inside_container" class="inside_container">
  <%= link_to_function("Print this Page", "javascript:print()", :id=>'print_link') %><br />
  <div class="form_header">Call Log for: <span style="font-weight:500" ><%= "#{@shift.staff.name}" %></span></div>
  <div class="form_header2">On Call from <%= "#{@shift.start_date}, #{@shift.start_time} to #{@shift.end_date}, #{@shift.end_time}" %></div>
  <div class="field" >
    <b><font size="3">Summary</font></b><br />
	    <%=  @shift.summary %>
  </div></p>
<p><div>
   <% if total_reports == 0 %>
      <b><font size="3">No Reports Submitted </font></b>
   <% else %>
   <div class="field">
  <%= link_to image_tag("add_icon.gif", :id => "all-reports-img"), "javascript:void(0)",
    :onclick => "plusMinusToggle('all-reports', 'all-reports-img');" %>
  <b><font size="3">Submitted Reports</font>
    <% if total_reports == 0 %>
      <font color="595959" size="3">
    <% else %>
        <font color="B40D10" size="3">
    <% end %>
    <%= "(#{total_reports}) " %></font></b>
    <% if total_incident_reports == 0 %>
      <font color="595959"><%= "[no incident reports] " %></font>
    <% elsif total_incident_reports == 1 %>
      <font color="B40D10"><%= "[1 incident report] " %></font>
    <% else %>
      <font color="B40D10"><%= "[#{total_incident_reports} incident reports] " %></font>
    <% end %>
  <% end %>
  </div>
  <div id='all-reports' class='shift_log_div' style="display: none;">
    <%= render :partial=> "shifts/reports_in_call_log", :locals =>
      { :reports => reports, :notes => notes } %>
  </div>
</div></p>
<div class="field" >
  <%= link_to image_tag("add_icon.gif", :id => "tasks-img"), "javascript:void(0)",
    :onclick => "plusMinusToggle('tasks-for-log', 'tasks-img');" %>
  <b><font size="3">Shift Task Logs</font>

    <font color="B40D10" size="3">
      <%= "(#{ra_shifts.length})" %></font></b>

  <div id='tasks-for-log' class='shift_log_div' style="display: none;" >

    <% ra_shifts.each do |shift| %>
      <%= render :partial => "task_assignments/task_assignments_full_info_table", :locals => { :shift => shift } %>
    <% end %>

  </div>
</div></p>
</div>
