<div id="<%= building_div_id(building) %>" >
  <div id="<%= "show_building_#{building.id}_row" %>">
    <table width="100%">
      <tr <%= row_style %> valign="bottom">
        <td style="width:25%"><%=h building.name %></td>
        <td style="width:10%"><%=h building.abbreviation %></td>
        <td style="width:10%" align="center">
          <%= image_tag( "check_mark.jpg", :height=>16, :width=> 16) if building.is_residence %></td>
        <td style="width:25%;valign:right"><%= building.area.name rescue "Unspecified" %></td>
        <td><%= link_to 'Edit', "javascript:void(0)",
            :onclick => "$('#show_building_#{building.id}_row').toggle();$('#edit_building_#{building.id}_row').toggle();" if can? :edit, building %></td>
        <td valign="middle"><%= link_to 'Destroy', building, :confirm => 'Are you sure?', :class => "destroy_link", :method => :delete, :remote => true, :id => building if can? :destroy, building %></td>
      </tr>
    </table>
  </div>
  <div id="<%= "edit_building_#{building.id}_row" %>" style="display:none;">
    <%= form_for(building, :remote=>true) do |f| %>
      <table width="100%" frame="border">
        <tr <%= row_style %> valign="bottom">
          <td style="width:25%"><%= f.text_field :name, :size => 25 %></td>
          <td style="width:10%"><%= f.text_field :abbreviation, :size => 5 %></td>
          <td style="width:10%" align="center"><%= f.check_box :is_residence %></td>
          <td style="width:25%">
            <%= f.collection_select( :area_id, Area.all, :id, :name, {:selected => building.area_id.nil? ? Area.unspecified_id : building.area_id}, {:id=>'areas_id'}) %></td>
          <td><%= f.submit "Save", :id => "#{building.id}_edit_save" %>
            <%=  button_to_function "Cancel", "$('#show_building_#{building.id}_row').toggle();$('#edit_building_#{building.id}_row').toggle();" %>
            <%= hidden_field :row, :style, {:value=>row_style}  %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
