<div id="new_building_group">
<% if can? :create, Building %>
  <div id="new_building_link">
    <li><%= link_to 'New Building', "javascript:void(0)",
        :onclick => '$("#new_building_div").toggle(); $("#new_building_link").toggle();' %></li>
  </div>
<% end %>
<div id="new_building_div" style="display:none;">
  <%= form_for(Building.new, :remote=>true) do |f| %>
    <% building = Building.new %>
    <table width="100%" frame="border">
      <tr class='shaded' id="new_building_row" valign="bottom">
        <td style="width:25%"><%= f.text_field :name, :size => 25 %></td>
        <td style="width:10%"><%= f.text_field :abbreviation, :size => 5 %></td>
        <td style="width:10%" align="center"><%= f.check_box :is_residence %></td>
        <td style="width:25%"><% areas = Area.all %>
          <%= f.collection_select( :area_id, Area.all, :id, :name, {:selected => building.area_id.nil? ? Area.unspecified_id : building.area_id}, {:id=>'areas_id'}) %></td>
        <td><div class="actions">
            <%= f.submit "Create" %>
            <%=  button_to_function "Cancel", '$("#new_building_div").toggle(); $("#new_building_link").toggle();' %>
          </div></td>
      </tr>
    </table>
  <% end %>
</div>
</div>