<div id="new_building_link">
  <%= link_to 'New Building', "javascript:void(0)",
    :onclick => "doubleDivToggle('new_building_div', 'new_building_link');" if can? :create, Building %>
</div>
<div id="new_building_div" style="display:none;">
  <%= form_for(Building.new, :remote=>true) do |f| %>
    <% building = Building.new %>
    <table width="100%" frame="border">
      <tr class='shaded' id="new_building_row" valign="bottom">
        <td style="width:25%"><%= f.text_field :name, :size => 25 %></td>
        <td style="width:10%"><%= f.text_field :abbreviation, :size => 5 %></td>
        <td style="width:10%" align="center"><%= f.check_box :is_residence %></td>
        <td style="width:25%"><% areas = Area.all %>
          <%= f.select "area_id", options_from_collection_for_select(areas, "id", "name") %></td>
        <td><div class="actions"><%= hidden_field :is, :shaded, {:value => is_shaded} %>
            <%= f.submit "Create" %>
            <%=  button_to_function "Cancel", "doubleDivToggle('new_building_div','new_building_link')" %>
          </div></td>
      </tr>
    </table>
  <% end %>
</div>