<h1>Showing Building <%= @building.name %></h1>

<p>
  <b>Name:</b>
  <%= @building.name %>
  <br/><br/>
  <b>Abbreviation:</b>
  <%= @building.abbreviation %>
  <br/><br/>
  <% if @building.area_id != nil %>
  	<b>Area:</b>
  	<%= Area.find(@building.area_id).abbreviation %>
  <%end%>
</p>


<%= link_to 'Edit', edit_building_path(@building) %>
