<h1>Showing Building <%= @building.id %></h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Building ID:</b>
  <%= @building.id %>
  <br/><br/>
  <b>Name:</b>
  <%= @building.name %>
  <br/><br/>
  <b>Abbreviation:</b>
  <%= @building.abbreviation %>
  <br/><br/>
  <b>Area ID:</b>
  <%= @building.area_id %>
</p>


<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
