<div id="new_area_group">
<% if can? :create, Area %>
  <div id="new_area_link">
    <li><%= link_to 'New Area', "javascript:void(0)",
        :onclick => '$("#new_area_div").toggle(); $("#new_area_link").toggle();' %></li>
  </div>
<% end %>
<div id="new_area_div" style="display:none;">
  <%= form_for(Area.new, :remote=>true) do |f| %>
    <% area = Area.new %>
    <table width="100%" frame="border">
      <tr id="new_area_row" valign="bottom">
        <td valign="middle" style="width:25%"><%= f.text_field :name, :size => 25 %></td>
        <td valign="middle" style="width:10%"><%= f.text_field :abbreviation, :size => 5 %></td>
        <td valign="middle" style="width:25%">
          <%= select_tag "buildings", options_from_collection_for_select(unassigned_buildings, "id", "name"), :multiple => true, :class => 'form_input' %>
        </td>
        <td valign="middle"><div class="actions"><%= hidden_field :is, :shaded, {:value => is_shaded} %>
            <%= f.submit "Create" %>
            <%=  button_to_function "Cancel", '$("#new_area_div").toggle(); $("#new_area_link").toggle();' %>
          </div></td>
      </tr>
    </table>
  <% end %>
</div>
</div>