<h1>New Area</h1>

<%= render 'form' %>

<!--
<%= collection_select(:building,
:abbreviation, Building.all, 
:id, 
:name,
options = { :selected => 1 }, 
html_options = { :selected => "1" }) %>


<% for b in Building.find(:all) %>
<div>
  <%= check_box_tag  b.id, b.name %>
  <%= b.name %>
</div>
<% end %>

<%=  link_to "Add Building", :controller => "areas", :action => "add_building"  %>

-->

