
    <div class="iPanel">
        <%= render :partial => "search/autocomplete_full_name", :locals => { :target => "/reports/add_participant" } %>
    </div>
    <form action="/maintenance_reports" method="POST">
        <div id="iGroup">
            <div class="iLayer" id="waHome" title="Home">
                <div class="iPanel">
                    <div id="s-i-form">
                        <% @report.participant_ids.each  do |pid| %>
					<%=render( :partial => "reports/participant_in_report", :locals => { :report => @report, :participant => Participant.find(pid) })%>
                        <% end %>
                    </div>
                    <fieldset>

                        <legend>
                            Building:
                        </legend>
                        <ul>
                        	
                            <li class="iRadio" value="autoback" onclick="javascript:hideDiv('searchform')">
								<span id="blabel"><%=@report.building.name%></span>
                                Select Building<% Building.find(:all).each do |b| %>
                                <label>
                                    <input type="radio" name="report[building_id]" value="<%= b.id %>" onclick="javascript:displayBuilding('blabel','<%=b.name%>')"<%if @report.building_id == b.id %> checked="checked"<% end %>/><%= b.name %>
                                </label><% end %>
								
                            </li>
							
                        </ul>
						
                        <legend>
                            Specific Location:
                        </legend>
                        <ul>
                            <li>
                                <input type="text" name="report[room_number]" placeholder="Specific Location" value="<%=@report.room_number%>" />
                            </li>
                        </ul>
						<legend>
                            Annotation:
                        </legend>
                        <ul>
                            <li>
                                <%= text_area(:report, :annotation,  :cols=> "60", :rows => "4", :value=> @report.annotation_text) %>
                            </li>
                        </ul>
						
                        <legend>
                            Time: 
                        </legend>
                        <ul>
                            <li>
                                <input type="text" name="report[approach_time]" value="<%=@report.approach_time%>" />
                            </li>
                        </ul><% if @report.submitted != true %>
                        <input id="save_submit" name="save_submit" type="submit" value="Save" class="iPush iBClassic" style="width:100%"/><%else %>
                        <input id="submit_submit" name="submit_submit" type="submit" value="Submit" class="iPush iBClassic" style="width:100%"/><% end %>
                    </fieldset>
                </div>
            </div>
            <div id="s-i-checkbox">
                <% @report.participant_ids.each  do |pid| %>
                <%= render :partial=> "reports/report_participant_relationship_checklist", :locals => { :report => @report, :participant => Participant.find(pid) } %>
                <% end %>
            </div>
        </div>
    </form>



