<% if(type == "edit") %>
<div class="field">
    <b><%= t "#{report.report_type.name}.annotation" %></b><br />
    <%= text_area(:report, :annotation,  :cols=> "60", :rows => "4", :value=> report.annotation_text) %>
</div>
<% elsif(type == "search") %>
<% elsif(type == "index") %>
<% if  can? :show, report %>
        <%= report.annotation_text[0..20]  rescue "" %>
<% end %>
 
<% elsif(type == "show") %>
    <%= label_tag  do -%>
	    <%= t "#{report.report_type.name}.annotation" %>:
	<% end -%>
     <%= report.annotation_text %>   
<% end %>