<% if(type == "edit") %>
<div class="field">
    <b><%= t "#{current_staff.organization}.annotation" %></b><br />
    <%= text_area(:report, :annotation,  :cols=> "60", :rows => "4", :value=> report.annotation_text) %>
</div>
<% elsif(type == "search") %>
<% elsif(type == "index") %>
    <% if(part == "header") %>
        Annotation
    <% elsif(part == "data") %>
        <%= report.annotation_text %>
    <% end %>
 
<% elsif(type == "show") %>
    <b><%= t "#{current_staff.organization}.annotation" %></b>
    <%= report.annotation_text %>
<% end %>