
<ul>
  <%=link_to image_tag("radar_logo.png", :title=>"RADAR Home", :align=>'left'), "/" %>
  <% if can? :index, Student %>
  <li><%= link_to "Students", students_path , :class=>"menubar_link" %>
    <ul>
      <li><%= link_to "List Students", students_path %></li>
      <li><%= link_to "Search Students", search_participants_path  %></li>
    </ul>
  </li>
  <% end %>
  <% if can? :index, IncidentReport  %>
  <li><%= link_to "Incident Reports", "/reports?report_type=IncidentReport", :class=>"menubar_link" %>
    <ul>
	  <li><%= link_to "List Incident Reports", "/reports?report_type=IncidentReport"  %></li>
      <% if can? :create, IncidentReport %><li><%= link_to "New Incident Report", new_incident_report_path  %></li> <% end %> 
    </ul>
  </li>
  <% end %>
  <% if can? :index, MaintenanceReport %>
  <li>
  <%= link_to "Maintenance Requests", "/reports?report_type=MaintenanceReport", :class=>"menubar_link" %>
    <ul>
	  <li><%= link_to "List Maintenence Requests", "/reports?report_type=MaintenanceReport"  %></li>
      <% if can? :create, MaintenanceReport  %><li><%= link_to "New Maintenence Request", new_maintenance_report_path %></li><% end %> 
    </ul>
  </li>
  <% end %>
  <% if can? :index, Note %>
  <li><%= link_to "Notes", new_note_path , :class=>"menubar_link" %>
    <ul>
	  <li><%= link_to "List Notes", "/reports?report_type=Note"  %></li>
      <% if can? :create, Note %><li><%= link_to "New Note", new_note_path %></li><% end %>
    </ul>
  </li>
  <% end %>
  <li><%  if can? :index, Task %>
      <%= link_to "Tasks", tasks_path, :class=>"menubar_link" %>
    <% else %>
      <%= link_to "Tasks", to_do_list_task_assignments_path, :class=>"menubar_link" %>
    <% end %>
    <ul>
      <% if can? :do, Shift  %><li><%= link_to "My To Do List", to_do_list_task_assignments_path %></li><% end %>
      <% if can? :create, Task %><li><%= link_to "New Task", new_task_path  %></li><% end %>
      <% if can? :index, Task  %><li><%= link_to "List Tasks", tasks_path %></li><% end %>
    </ul>
  </li>
  <% if can? :index, Shift %>
  <li><%= link_to "Shifts/Logs", "/shifts?access_level=Any", :class=>"menubar_link"  %>
    <ul>
      <% if can? :create, Shift %><li><%= link_to "Record Shift", new_shift_path  %></li><% end %>
      <% if can? :index, Shift %> <li><%= link_to "My Logs", "/shifts?staff_id=#{current_staff.id}"  %></li><% end %>
      <% if can? :list_HD_call_logs, Shift %><li><%= link_to "List HD Call Logs", "/shifts?log_type=call"  %></li><% end %>
      <% if can? :list_RA_duty_logs, Shift %><li><%= link_to "List RA Duty Logs", "/shifts?log_type=duty"  %></li><% end %>
    </ul>
  </li>
  <% end %>
  <li><a href="/" class= "menubar_link">Manage</a>
    <ul>
      <% if can? :index, Staff %><li><%= link_to "Manage Staff Members", "/staffs" %></li><% end %>
      <% if can? :index, Building %><li><%= link_to "Manage Buildings", "/buildings"  %></li><% end %>
      <% if can? :index, Area %><li><%= link_to "Manage Areas", "/areas" %></li><% end %>
	  <% if can? :index, RelationshipToReport %><li><%= link_to "Manage Contact Reasons", "/relationship_to_reports"  %></li><% end %>
    </ul>
  </li>
</ul>
