<%= render :partial => "organizations/orgs/ResidenceLifeOrganization/reports_menu" %>
<%  if can? :do, TaskAssignment %>
	<li><%= link_to "Tasks", to_do_list_task_assignments_path %>
		<ul>
			<li><%= link_to "My To Do List", to_do_list_task_assignments_path%></li>
		</ul>
	</li>
<% end %>
<% if can? :index, Shift %>
	<li><%= link_to "Shifts/Logs", "/shifts?access_level=Any"  %>
		<ul>
		  <% if can? :create, Shift %><li><%= link_to "Record Shift", new_shift_path  %></li><% end %>
		  <% if can? :index, Shift %> <li><%= link_to "My Logs", "/shifts?staff_id=#{current_staff.id}"  %></li><% end %>
		  <% if can? :list_HD_call_logs, Shift %><li><%= link_to "List HD Call Logs", "/shifts?access_level=HallDirector"  %></li><% end %>
		  <% if can? :list_RA_duty_logs, Shift %><li><%= link_to "List RA Duty Logs", "/shifts?access_level=ResidentAssistant"  %></li><% end %>
		</ul>
	</li>
<% end %>