<h1>Showing Photo <%= @photo.id %></h1>
<p id="notice"><%= notice %></p>

<p>
  <b>URL:</b>
  <%= @photo.url %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
