<div id="inside_container" class="inside_container"><h1>Listing Reported Infractions</h1>

<table>
  <tr>
    <th>Report ID</th>
    <th>Relationship Description</th>
    <th>Participant Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @report_participant_relationships.each do |rpr| %>
  <% if @numRows == 0 %>
    <% @numRows = @numRows + 1 %>
    <tr class="shaded">
  <% else %>
    <% @numRows = 0 %> 
    <tr>
  <% end %>
    <td><%= rpr.report_id %></td>
    <td><%= rpr.relationship_to_report.description %></td>
    <td><%= rpr.participant.first_name %>
    	<%= rpr.participant.last_name %></td>
    <td><%= link_to 'Show', rpr %></td>
	<% if Authorize.not_admin_assistant_authorize(current_staff) %>
    	<td><%= link_to 'Edit', edit_report_participant_relationship_path(rpr) %></td>
    	<td><%= link_to 'Destroy', rpr, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Report-participant relationship', new_report_participant_relationship_path %>
</div>