<%= form_for(@relationship_to_report) do |f| %>
  <% if @relationship_to_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relationship_to_report.errors.count, "error") %> prohibited this contact reason from being saved:</h2>

      <ul>
      <% @relationship_to_report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>	
  </div>
  <div class="field">
  	<%= label_tag "Organization:" %><br />	
    <%= f.select "organization_id", options_from_collection_for_select(OrganizationsHelper::assignable_by(current_ability), "id", "display_name") %>
  </div>
  <div  class="field" >
  <label><%= t 'select_a_report_for_infraction' %></label><br/>
  <%= select_tag 'relationship_to_report[report_type_id]',
		options_from_collection_for_select(ReportTypesHelper::selectable_by(current_ability), :id, :display_name, 
		            @relationship_to_report.report_type.nil? ? "" : @relationship_to_report.report_type.id.to_s),
		:include_blank => true,
		:id => 'report_select_id' %>
  </div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
