<div id="inside_container" class="inside_container"><h1>Contact Reasons</h1>

<%= link_to 'New Contact Reason', new_relationship_to_report_path if can? :create, RelationshipToReport %>
<br/>
<br/>
<table>
  <tr>
  <th>Description</th>
    <th>Associated Report</th>
    <th></th>
    <th></th>
  </tr>

<% @relationship_to_reports.sort.each do |relationship| %>
  <% if @numRows == 0 %>
    <% @numRows = @numRows + 1 %>
    <tr class="shaded">
  <% else %>
    <% @numRows = 0 %> 
    <tr>
  <% end %>
    <td><%= relationship.description %></td>
	<td><%= relationship.report_type.display_name rescue ReportTypesHelper::all_label %></td>
    <td><%= link_to 'Edit', edit_relationship_to_report_path(relationship) %></td>
    <td><%= link_to 'Destroy', relationship, :confirm => 'Are you sure?', :method => :delete if can? :destroy, RelationshipToReport %></td>
  </tr>
<% end %>
</table>

<br />

</div>