<%= link_to image_tag("add_icon.gif", 
  :id => "#{participant.id}_#{reason.id}-annotation_img"), "javascript:void(0)",  
  :onclick => "plusMinusToggle('contact_details_#{participant.id}_#{reason.id}', '#{participant.id}_#{reason.id}-annotation_img');" %>
<b><%= "Details" %></b></br>
<div id="contact_details_<%= participant.id %>_<%= reason.id %>" class="participant_detail">
  <div style="margin-left: 15px;">
    <% rf =  remote_function( :update => nil,
							:url => { :controller => 'reports', :action => :update_annotation },
							:with => "'participant=#{participant.id}&report[id]=#{report.id}&reason=#{reason.id}" + '&text=\' + this.value')  %>
    <% rf2 =  remote_function( :update => nil,
							:url => { :controller => 'reports', :action => :update_duration },
							:with => "'participant=#{participant.id}&report[id]=#{report.id}&reason=#{reason.id}" + '&text=\' + this.value')  %>
    <%= t("#{report_type}.annotation") %><br />
    <%= text_area_tag "report[annotations][#{participant.id}][#{reason.id}]", (participant_reason.nil? ? "" : participant_reason.comment), :cols => 40, :rows => 2, :onblur => "#{rf}" %>
    <br />
    <%= "Duration (minutes)" %><br />
	<% duration_value = (participant_reason.nil? || participant_reason.contact_duration.nil?) ? "1:00" :  participant_reason.display_contact_duration %>
    <%= text_field_tag "report[durations][#{participant.id}][#{reason.id}]", 
	      duration_value, 
	      :id=>"duration_#{participant.id}_#{reason.id}" , 
		  :onblur=> "#{rf2}" %>
  </div>
</div>

<script type="text/javascript">
        AnyTime.picker( "duration_<%= participant.id %>_<%= reason.id %>",
            { format: "%k:%i" } );
</script>
