<table  >
    <tr>
        <td valign=top>
            <%= form_tag search_reports_path, :remote => true %>
                <table>
				<tr>
					<td>
                        <input id="submit" name="submit" type="submit" value="Update" />
                   
                        <input id="reset" name="reset" type="reset" value="Reset" onclick="clear_fields(this);report_select();" />
                    </td>
                </tr>
				<tr>
					<td>
					<div class="field"><%= label_tag "Student:"  %><br />  
						<%=  render :partial => 'participants/autocomplete_full_name' %>
					</div>
					</td>
				</tr>
				<tr> 
					<td> 
					<div class="field">
						<%= label_tag "Report Type:" %><br />
						<%= select_tag "type",
							options_from_collection_for_select(ReportTypesHelper::selectable_by(current_ability), "name", "display_name", current_staff.preferred_report_type.name ),
							:id => 'report_select_id',
							:include_blank => true,
							:onchange => "report_select();" %>
					</div>
					</td>
				</tr>
				
				
				<tr>
					<td>
					<div class="field">
						<% ReportTypesHelper::selectable_by(current_ability).each do |report_type | -%>						   
								<%= content_tag :div, 	:id => "#{report_type.name}-reasons", 
													:style=>"display:#{report_type == current_staff.preferred_report_type ? 'block' : 'none'}" do -%>
									<%= label_tag do -%>
										<%= t "#{report_type.name}.reasons"  -%>
									<% end -%><br/>
									<% if (report_type.name =~ /^Tutor/) == 0 -%>
										<%=  render :partial => 'courses/autocomplete_full_name' %>
									<% else %>
										<%= select_tag "infraction_id", 
											options_from_collection_for_select(report_type.associated_reasons, "id", "description"), 
											:multiple => true, 
											:class=> 'form_input' %>
									<% end -%>
								<% end -%>
						<% end -%>
					</div>
					</td>
				</tr>
                    <% ReportType.find_by_name("IncidentReport").fields("search").each do |field| %>
                            <tr>
                                <td valign="top" class="field">
                                    <%= render :partial => "reports/fields/#{field.name}", :locals => {:type => "search"} %>
                                </td>
                            </tr>
                    <% end %>
                <tr>
                    <td valign=top>
					<div class="field">
                        <%= label_tag "Approached Before:" %><br />
                        <input type="text" id="submitted_before" name="submitted_before"></input>	
                    </div>
					</td>
				<tr>
					<td>
					<div class="field" >
                        <%= label_tag "Approached After:" %><br />
                        <input type="text" id="submitted_after" name="submitted_after"></input>	
					</div>
                    </td>
                </tr>
				<tr>
					<td>
					<div class="field">
						<%= label_tag "Building:" %><br />
						<%= select_tag "building_id", 
							options_from_collection_for_select(BuildingsHelper::all_buildings, "id", "name"), 
							:include_blank => true %>
					</div>
					</td>
				</tr>
				<tr>
					<td>
					<div class="field">
						<%= label_tag "Area:" %><br />
						<%= select_tag "area_id", 
							options_from_collection_for_select(AreasHelper::areas,"id", "name"), 
							:include_blank => true %>
					</div>
					</td>
				</tr>
                
                </table>    
            </form>
        </td>
        <td valign=top>
            <%= render :partial => 'reports/report_index_body', :locals => { :reports => @reports, :div_id => "results", :num_rows => 0 } %>
        </td>
    </tr>    
</table>

<script type="text/javascript">
       var rangeDemoFormat = "%e-%b-%Y %H:%i";
        AnyTime.picker( "submitted_before",
            { format: rangeDemoFormat, firstDOW: 0 } );
        AnyTime.picker( "submitted_after",
            { format: rangeDemoFormat, firstDOW: 0 } );
	


function report_select() {
   report_choices = document.getElementById('report_select_id');
   for (choice = 0; choice < report_choices.length; choice++) {
	  item = report_choices.item(choice);
	  document.getElementById(item.value + '-reasons').style.display = (choice == report_choices.selectedIndex) ? 'block' : 'none';
   }
   return false;
}	

// Clear hidden field containing participant id. Reset button does 
// not do this.
function clear_fields(elem) {
  document.getElementById("participant_id").value = ""
  return false;
}
</script>