<table>
    <tr>
        <td valign=top>
            <%= form_tag 'index_search', :remote => true %>
                <table> 
					<tr>
                        <td valign=top>
                            <b>Student:</b><br />  
                           <%=  render :partial => 'participants/autocomplete_full_name' %>    
                        </td>
                    </tr>
                    <tr>
                        <td valign=top>
                            <b>Building:</b><br />
							<%= select_tag "building_id", options_from_collection_for_select(BuildingsHelper::all_buildings, "id", "name"), :include_blank => true %>                          
                        </td>
                    </tr>
					<% if @report_type.name != "Note" %>
                    <tr>
                        <td>
                            <% report_type_id = @report_type.id %>
                            <b><%= t "#{@report_type.class}.reasons" %>:</b><br />
                            <select id="infraction_id" name="infraction_id[]" MULTIPLE style="height:150px;">
                               
                                <% RelationshipToReport.where(:report_type_id => report_type_id).each do |i| %>
                                    <option value="<%= i.id %>"><%= i.description %></option>
                                <% end %>
                            </select>
                        </td>
                    </tr>
					<% end %>
					<tr>
                        <td valign=top>
                            <b>Approached Before:</b><br />
                            <input type="text" id="submitted_before" name="submitted_before"></input>	
                            <br />
                            <b>Approached After:</b><br />
                            <input type="text" id="submitted_after" name="submitted_after"></input>	
                        </td>
                    </tr>
                    <tr>
                        <td valign=top>
                            <b>Area:</b><br />
                            <%= select_tag "area_id", options_from_collection_for_select(AreasHelper::areas,"id", "name"), :include_blank => true %>
                        </td>
                    </tr>
                   
					
                    
                    <tr>
                        <td>
                            <%= hidden_field_tag 'type', @report_type.name %>
                            <input id="submit" name="submit" type="submit" value="Update" />
                        </td>
                    </tr>
                </table>    
            </form>
        </td>
        <td valign=top>
            <br />
            <div id="results">
                <%= render :partial => 'reports/report_table_row', :locals => { :reports => @reports, :num_rows => 0} %>
            </div>
            <br />
        </td>
    </tr>    
</table>

<script type="text/javascript">
        AnyTime.picker( "submitted_before",
            { format: "%b %D, %z  %I:%i%p", firstDOW: 0 } );
        AnyTime.picker( "submitted_after",
            { format: "%b %D, %z  %I:%i%p", firstDOW: 0 } );
</script>
