<% logger.debug("inside particiapnt_in_report participant is #{participant.first_name} id is #{participant.id}") %>
<div class="p-relationship" id=<%= "'p-in-report-#{participant.id}'" %> >
      	<table>
      		<tr>
      			<td style="vertical-align: top;">
      				<%=  image_tag(participant.getThumbnailUrl, :style=>"align:left;", :border=> 0) %>
      			</td>
				<td style="vertical-align: top;">
					 <%= link_to "#{participant.first_name} #{participant.last_name}", participant, :target=>"blank" %>
      				 <%= link_to image_tag("/images/delete.png", :size=>"15x15", :border=>0, :title=>"Remove"), { :controller => "reports",   
         				:action => 'remove_participant', :id => participant.id }, :remote => true %>
					 <br />
  	   			 	 <%= render :partial => "participants/participant_details", :locals => { :participant => participant } %>
  	  				 <%= render :partial => "reports/report_participant_relationship_checklist", :locals => { :report => @report, :participant => participant } %>
				</td>
      		</tr>
      	</table>
      		
     
</div>
