<div id=<%= "'p-#{relationship.participant.id}'" %> >
                <fieldset>
                	<ul class="iArrow">
		 <li>
               <a href="#_<%=relationship.participant.id%>"
			   <%= link_to image_tag(relationship.participant.getThumbnailUrl, :border=> 0), "#"%>
			   <%= "#{relationship.participant.first_name} #{relationship.participant.last_name}" %></a>
			   
            </li>
						</ul>
                </fieldset>

<!--:onclick => "Element.toggle('details_div_#{relationship.participant.id}'); return false;" 


  	  <div id="details_div_<%= relationship.participant.id %>" style="display: none;" >
  	    <%= render :partial => "participants/participant_details", :locals => { :participant => relationship.participant } %>
  	  </div>
  	  -->
  
</div>
