<table>
  <% if reports.length > 0 %>
    <%= render :partial => "reports/report_table_row_linked_labels" %>
  <% else %>
    <%= "No Reports Match These Criteria" %>
  <% end %>
  <% reports.each do |report| %>

    <% if num_rows == 0 %>
      <% num_rows = num_rows + 1 %>
      <tr class="shaded">
      <% else %>
        <% num_rows = 0 %>
      <tr>
      <% end %>

      <td><%= report.event_date %></td>
      <td><%= report.event_time %></td>
	   <td>
	  <% if can? :show, report %>
		<%= link_to report.tag, report, :class => "link-report-viewed-#{current_staff.has_seen?(report)}" %>
	  <% else %>
		<%= "#{report.tag}" %>
	  <% end %>
	  </td>
	  <td><%= report.staff.name %></td>
     
      <td><%= report.building.name %></td>
      <td><%= report.room_number %></td>
      
	 
      <td id="edit_destroy_link"><%= link_to 'Edit', :controller =>"#{report.type.underscore.pluralize}", :action => "edit", :id => report if can? :edit, report %></td>
      <% if report.type == "MaintenanceReport" %>
        <td id="edit_destroy_link"><%= link_to 'Destroy', report, :confirm => 'Are you sure?', :method => :delete, :id => report if can? :destroy, report %></td>
      <% end %>

    </tr>
  <% end %>
</tr>
</table>