<div class="iLayer" id="wa<%=participant.id%>" title="<%= participant.full_name%>">
    <div class="iPanel">
        <% if report.class.name == "IncidentReport" %>
        <div align="center">
            <img src="<%=participant.getImageUrl%>"></img>
        </div>
        
        <br/>
        <fieldset>
            <%= render :partial => "participants/participant_details", :locals => { :participant => participant } %>
        </fieldset>
        <fieldset>
            <Legend>
                Infractions:
            </Legend>
            <div id="<%= participant.id %>-infractions">
                <% infractions = RelationshipToReport.for(report) %>
                <ul>
                    <% infractions.each do |infraction| %>
					<% rf =  remote_function( :update => nil,
											:url => { :controller => 'reports', :action => :update_reason },
											:with => "'participant=#{participant.id}" + '&reason=\'+ this.id + \'&checked=\' + this.checked')  %>
                    <li>
                        <%= check_box_tag "#{participant.id}[#{infraction.id}]",
							infraction.description,
							report.get_contact_reason_for_participant(participant.id, infraction.id) != nil,
							:onclick => "#{rf}",
							:class=> "iToggle",
							:title=>"YES|NO" %>
                        <%= label_tag infraction.description %>
                    </li>
                    <%end %>
                </ul>
            </div>
        </fieldset>
        <% end %>
    </div>
</div>
