<% if report.reasons.size > 0 %>

<div class="relationship-checklist">
<%= link_to image_tag("/images/add_icon.gif", :id => "common-reasons-toggle"), "javascript:void(0)",  
                     :onclick => "plusMinusToggle('common-reasons', 'common-reasons-toggle');" %>
 
  	<b><%= t "#{report.report_type.name}.#{params[:controller]}.common_reasons" %> </b>
  	<div id="common-reasons" style="display: none;">
  			<% infractions = report.common_reasons %>
			<% rf =  remote_function( :update => nil,
											:url => { :controller => 'reports', :action => :update_common_reasons },
											:with => '\'reason=\'+ this.id + \'&checked=\' + this.checked')  %>
  			<% infractions.each do |infraction| %>
  		  		<div style="margin-left: 8px;margin-top: 4px; margin-bottom: 0px;" >
  						<%= check_box_tag "common_reasons[#{infraction.id}]", 
  				       infraction.description,
					    false,
					   :onclick => "#{rf}; if(this.checked){document.getElementById('common_reasons_#{infraction.id}_details').style.display = 'block';}else{document.getElementById('common_reasons_#{infraction.id}_details').style.display = 'none';} "
  				       %>
  				    <%= infraction.description %>
                    <% if @report.supports_contact_reason_details? %>
                        <div id="common_reasons_<%= infraction.id %>_details" style="margin-left: 8px;margin-top: 4px; margin-bottom: 0px; display: none;">
                            <%= render :partial => 'reports/common_contact_details', :locals => { :infraction => infraction } %>
                        </div>
                    <% end %>                    
  				  </div>
  			<% end %>
  	</div>
</div>
<% end %>
