<% reports.each do |report| %>

<% if num_rows == 0 %>
    <% num_rows = num_rows + 1 %>
    <tr class="shaded">
  <% else %>
    <% num_rows = 0 %> 
    <tr>
  <% end %>
  
<td><%= report.event_date %></td>
<td><%= report.event_time %></td>
<td><%= report.type %></td>
<td><%= report.building.area.abbreviation %></td>
<td><%= report.building.name %></td>
<td><%= report.room_number %></td>
<td><%= report.staff.first_name %> <%= report.staff.last_name %></td>
<td><%= link_to report.tag, report %></td>

<% if Authorize.not_admin_assistant_authorize(current_staff) %>
	<td><%= link_to 'Edit', edit_report_path(report) %></td>
	<td><%= link_to 'Destroy', report, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>

</tr>
<% end %>
</tr>