<div class="iLayer" id="wa<%=participant.id%>" title="<%= participant.full_name%>">
	<a href="#" id="waBackButton" rel="back"  onclick="javascript:showDiv('searchform');">Back to Report</a>
    <div class="iPanel">
	
			<div align="center">
				<img src="<%=participant.getImageUrl%>"></img>
			</div>
			
			<br/>
			<fieldset>
				<%= render :partial => "participants/participant_details", :locals => { :participant => participant } %>
			</fieldset>
			<fieldset>
				<Legend>
					Infractions:
				</Legend>
				<div id="<%= participant.id %>-infractions">
					<ul>
						<% report.reasons.each do |infraction| %>
							<% rf =  remote_function( :update => nil,
													:url => { :controller => 'reports', :action => :update_reason },
													:with => "'participant=#{participant.id}&report[id]=#{report.id}" + '&reason=\'+ this.id + \'&checked=\' + this.checked')  %>
							<li>
								<%= check_box_tag "report[reason][#{participant.id}][#{infraction.id}]",
									infraction.description,
									report.contact_reason_for_participant(participant.id, infraction.id) != nil,
									:onclick => "#{rf}",
									:class=> "iToggle",
									:title=>"YES|NO" %>
								<%= label_tag infraction.description %>
							</li>
						<%end %>
					</ul>
				</div>
				
			</fieldset>
    </div>
</div>
