<table>
  <% if reports.length > 0 %>
    <%= render :partial => "reports/report_table_row_linked_labels" %>
  <% else %>
    <%= "No Reports Match These Criteria" %>
  <% end %>
  <% reports.each do |report| %>

    <% if num_rows == 0 %>
      <% num_rows = num_rows + 1 %>
      <tr class="shaded">
      <% else %>
        <% num_rows = 0 %>
      <tr>
      <% end %>

      <td><%= report.event_date %></td>
      <td><%= report.event_time %></td>
      <td><%= report.type %></td>
      <td><%= report.building.area.abbreviation %></td>
      <td><%= report.building.name %></td>
      <td><%= report.room_number %></td>
      <td><%= report.staff.first_name %> <%= report.staff.last_name %></td>
      <td><%= link_to report.tag, report if can? :show, report %><%= "#{report.tag}" if cannot? :show, report %></td>
    <div id="edit_destroy_link">
      <td><%= link_to 'Edit', :controller =>"#{report.type.underscore.pluralize}", :action => "edit", :id => report if can? :edit, report %></td>
      <% if report.type == "MaintenanceReport" %>
        <td><%= link_to 'Destroy', report, :confirm => 'Are you sure?', :method => :delete, :id => report if can? :destroy, report %></td>
      <% end %>
    </div>
  </tr>
<% end %>
</tr>
</table>