<% if @report.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

    <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_for(@report) do |f| %>

    <table>
    <tbody id="s-i-form">
    </tbody>
    </table>

  <% common_reasons_state = @report.participant_ids.size > 1 ? "block" : "none" %>
  <% content_tag :div, :id=>"common-reasons-container", :style=>"display:#{common_reasons_state}" do -%>
    <%= render :partial => "reports/report_common_relationship_checklist" , :locals => { :report => @report } %>
  <% end -%>

  <div class="field">
    <b>  <%= t "#{current_staff.organization}.annotation" %></b><br />
    <%= text_area(:report, :annotation,  :cols=> "60", :rows => "4", :value=> @report.annotation_text) %>
  </div>
  
  <% @report.report_type.fields("edit").each do |field| %>
        <%= render :partial => "reports/fields/#{field.name}", :locals => { :f => f, :type => "edit"} %>
  <% end %>
  
  <%= render :partial => "reports/fields/submit_button" %>
<% end %>
