<% if reports.respond_to?('total_pages') %>
  <%= will_paginate reports %>
<% end %>
<table>
  <% if reports.length > 0 %>
    <%= render :partial => "reports/report_index_header_linked_labels", :locals => {:report_type => report_type} %>
  <% else %>
    <%= "No Reports Match Your Criteria" %>
  <% end %>
  <% reports.each do |report| %>

    <% if num_rows == 0 %>
      <% num_rows = num_rows + 1 %>
      <tr class="shaded">
      <% else %>
        <% num_rows = 0 %>
      <tr>
      <% end %>
      
      <% report.report_type.fields("index").each do |field| %>
            <td>
                <%= render :partial => "reports/fields/#{field.name}", :locals => {:report => report, :type => "index", :part => "data"} %>
            </td>
      <% end %>

	  <% if report.forwardable? %>
	     <td bgcolor="white" >
		 <% if report.forwarded?  %>
		     <%= image_tag( "check_mark.jpg", :height=>16, :width=> 16) %>
		 <% end %>
		 </td>
	  <% end %>
	  
      <% if can? :edit, report %>
      <td id="edit_destroy_link"><%= link_to 'Edit', :controller =>"#{report.type.underscore.pluralize}", :action => "edit", :id => report if can? :edit, report %></td>
      <% end %>
	  <% if can? :destroy, report %>
	    <% if report.type == "MaintenanceReport" %>
			<td id="edit_destroy_link"><%= link_to 'Destroy', report, :confirm => 'Are you sure?', :method => :delete, :id => report if can? :destroy, report %></td>
		<% end %>
	  <% end %>

    </tr>
  <% end %>
</tr>
</table>