  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <%= form_for(@report) do |f| %>
  
  <div id="s-i-form">
     <%  @report.participant_ids.each  do |pid|  %>    
       <% logger.debug("location participant #{pid} ") %>
       <%= render :partial=> "reports/participant_in_report", :locals => { :report => @report, :participant => Participant.find(pid) } %>
     <% end %>
  </div>
<div class="field">
    <b>Description:</b><br />
    <%= text_area(:report, :annotation,  :cols=> "60", :rows => "4", :value=> @report.annotation_text) %>
 </div>

 
  <div class="field">
    <b><%= f.label :building_id %>:<br /></b>
    <%= select :report,:building_id,Building.order(:name).collect{|p| [p.name, p.id]},{}%>
    
    </div>
  <div class="field">
    <b><%= f.label "Specific Location (Room Number)" %>:</b><br />
    <%= text_field(:report, :room_number) %>
  </div>
  <% if !@report.is_note? %>
   <div class="field">
    <b><%= f.label :approach_time %>:</b><br />
    <%= text_field(:report, :approach_time) %>
  </div>
  <% end %>

    
  <div class="actions">
       		<p>
       			<% if @report.submitted != true %>
       				<%= submit_tag "Save Report", { :name => "save_submit" } %>
       			<% end %>
       			<% if !@report.is_note? %>
       			  <%= submit_tag "Submit Report",  { :name=> "report[submitted]" } %>
       			<% end %>
       		</p>

  </div>
  
  <% end %>
