<% if @report.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

    <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_for(@report) do |f| %>

  <div id="s-i-form">
    <%  @report.participant_ids.each  do |pid|  %>
      <%= render :partial=> "reports/participants_in_report", :locals => { :width => 3, :report => @report, :participants => Participant.where(:id => @report.participant_ids).order(:last_name) } %>
    <% end %>
  </div>

  <% common_reasons_state = @report.participant_ids.size > 1 ? "block" : "none" %>
  <% content_tag :div, :id=>"common-reasons-container", :style=>"display:#{common_reasons_state}" do -%>
    <%= render :partial => "reports/report_common_relationship_checklist" , :locals => { :report => @report } %>
  <% end -%>

  <div class="field">
    <b>  <%= t "annotation" %></b><br />
    <%= text_area(:report, :annotation,  :cols=> "60", :rows => "4", :value=> @report.annotation_text) %>
  </div>


  <div class="field">
    <b><%= f.label :building_id %>:<br /></b>
    <%= select :report,:building_id,Building.order(:name).collect{|p| [p.name, p.id]},{}%>
  </div>

  <div class="field">
    <b><%= f.label "Specific Location (Room Number)" %>:</b><br />
    <%= text_field(:report, :room_number) %>
  </div>

  <% if !@report.is_note? %>
    <div class="field">
      <b><%= f.label :approach_time %>:</b><br />
      <%= text_field(:report, :approach_time, :id => "approach_time", :value => @report.approach_time) %>
    </div>
  <% end %>

  <div class="field">
    <div>
      <%= link_to image_tag("/images/add_icon.gif", :id => "ss-img"), "javascript:void(0)",
        :onclick => "plusMinusToggle('ss-div', 'ss-img');" %>
      <%= link_to('Secondary Submitter(s)', "javascript:void(0)",
        :onclick => "plusMinusToggle('ss-div', 'ss-img');" , :class=>"toggle-link") %>
    </div>
    <div id="ss-div" style="display: none;">
      <% current_staff.adjuncts.each do |s| %>
        <div class ="small-label" style="margin-left: 8px; margin-top: 4px; margin-bottom: 0px;" >
          <%= check_box :report_adjuncts, :"#{s.id}", {:checked => @report.is_adjunct?(s) } %>
          <%= "#{s.first_name} #{s.last_name}" %><br />
        </div>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <p>
      <% if !@report.submitted %>
        <%= submit_tag "Save Report", { :name => "save_submit" } %>
      <% end %>
      <%= submit_tag "Submit Report",  { :name=> "report[submitted]" } %>
    </p>

  </div>

<% end %>
<script type="text/javascript">
  AnyTime.picker( "approach_time",
  { format: "%b %D, %z  %I:%i%p", firstDOW: 0 } );
</script>

