<% if supported_reasons(report_type).length > 0 %>

<div class="relationship-checklist">
<%= link_to image_tag("add_icon.gif", 
              :id => "common-reasons-toggle"), "javascript:void(0)",  
              :onclick => "plusMinusToggle('common-reasons', 'common-reasons-toggle');" %>
 
  	<b><%= t "#{report_type}.#{params[:controller]}.common_reasons" %> </b>
  	<div id="common-reasons" style="display: none;">
  			<% infractions = ReportType.associated_reasons(report_type) %> 
  <%-# We temporarily remote_function mention so that we can render new report -%>
  <%-# See use of rf variable below. It is also commented out.                 -%>
  <% if false %>
  			<% rf =  remote_function( :update => nil,
											:url => { :controller => 'reports', :action => :update_common_reasons },
											:with => "'report[id]=#{report.id}"  + '&reason=\'+ this.id + \'&checked=\' + this.checked')  %>
  <% end %>
  <%-# end of block removing remote_function -%>
  			 <% infractions.each do |infraction| %>
            <% count = 0 %>
  		  		<div class="common-reason" id=<%=  count += 1 %> >
  						<%= check_box_tag common_reason_name(infraction), 
  				       infraction.description,
					       false,
                 :id => common_reason_id(infraction)
              %>
  <%-# This removal is associated with comment of remote_function above -%>
  <% if false %>
             ,
					   :onclick => "#{rf}; if(this.checked){document.getElementById('common_reasons_#{infraction.id}_details').style.display = 'block';}else{document.getElementById('common_reasons_#{infraction.id}_details').style.display = 'none';} "
  				       %>
  <% end %>
  				    <%= infraction.description %>
                    <% if ReportType.supports_contact_reason_details?(report_type) %>
                        <div class="common-reason-detail" 
                            id="common_reasons_<%= infraction.id %>_details" >
                            <%= render :partial => 'reports/common_contact_details', 
                                       :locals => { :infraction => infraction } %>
                        </div>
                    <% end %>                    
  				  </div>
  			<% end %>
  	</div>
</div>
<% end %>


<script>
// Attach click listener on each common reason input
// "div.common-reason input" selects each checkbox
// Common reason ids look like: common-reason-<id>
// Participant reason ids look like: reason-<id>
$(document).ready(function() {
  $('div.common-reason input').click(function(event){
    // record whether common reason is checked or not
    var checked = $(this).prop('checked');
    // strip 'common' prefix off per participant reason
    var reason = this.id.match(/common-(.*)/);
  
    var np = $("div.reason input[id^="+reason[1]+"]").length;
    
    for (i = 0; i < np; i++) {
      $("div.reason input[id^="+reason[1]+"]").prop('checked', checked);
    }
    
    //event.preventDefault(); // Prevent link from following its href
  });
});
</script>
