<% if report.supports_selectable_contact_reasons? %>

<div class="relationship-checklist">
<%= link_to image_tag("/images/add_icon.gif", :id => "#{participant.id}-img"), "javascript:void(0)",  
                     :onclick => "plusMinusToggle('#{participant.id}-infractions', '#{participant.id}-img');" %>
 
  	<b><%= t "#{params[:controller]}.reasons" %></b>
  	<div id="<%= participant.id %>-infractions" style="display: none;">
  			<% infractions = RelationshipToReport.for(report) %>
  			<% infractions.each do |infraction| %>
  		  		<div style="margin-left: 8px;margin-top: 4px; margin-bottom: 0px;" >
  						<%= check_box_tag "#{participant.id}[#{infraction.id}]", 
  				       infraction.description,
  				       report.get_contact_reason_for_participant(participant.id, infraction.id) != nil%>
  				    <%= infraction.description %>			
  				
  				  </div>
  			<% end %>
  	</div>
</div>
<% end %>
