 <% if @report.report_participant_relationships.count == 0  %>
 <div class="show-title"><%= "No #{title}" %></div>
 <% else %>
 <div class="show-title"><%= "#{title}:" %></div>
 
 <% @report.report_participant_relationships.sort! { |a, b|  a.participant.last_name <=> b.participant.last_name } %>

  <% current_participant_id = -1 %>
  <% @report.report_participant_relationships.each do |b| %>
  <% if b.participant.id != current_participant_id %>
   	<% if current_participant_id != -1 # aka we're starting a new participant %>
		</td>
		</tr>
		</table>
		</p>
	<% end %>
	<% current_participant_id = b.participant.id %>
   	<p>
	<table>
   	  <tr>
   		<td style="vertical-align: top;">  	
				<%=image_tag(b.participant.getImageUrl, :width=> 50 ) %>
		</td>
		<td style="vertical-align: top;">
			<% if b.participant.type == "Student" %>
  				<a href="../students/<%= b.participant.id %>" target="blank"><%= b.participant.last_name %>, <%= b.participant.first_name %> <%= b.participant.middle_initial %></a>
  			<% else %>
  				<a href="../participants/<%= b.participant.id %>" target="blank"> <%= b.participant.name %></a>
  			<% end %>
            <br />
        <%= render :partial => "participants/participant_details", :locals => { :participant => b.participant } %>
 	<% end %>
  		<br />
  		<b>&nbsp;&nbsp;&nbsp;&nbsp;Reported:</b> 
  		<%= b.relationship_to_report.description %><br/>
		<%= render :partial => "participants/participant_history", :locals => { :participant => b.participant, :history => b.participant.contact_history } %>
        
  	<% end %>
    
	
 <%end %>

 <% if @report.report_participant_relationships.count >= 1%>
 </td>
 </tr>
 </table>
 <% end %>
 </p>