
    <div id="iGroup">
        <div class="iLayer" id="waHome" title="Home">
            <form action="/incident_reports" >
                <div class="iPanel">
                    <fieldset>
					   <legend><%= "#{@report.display_name} :  #{@report.tag}" %></legend>
					   <% if @report.report_participant_relationships.size > 0 %>
					   <br/>
                        <Legend>
                            Student:
                        </Legend>
                        <ul>
                        	<% @report.report_participant_relationships.sort! { |a, b|  a.participant.last_name <=> b.participant.last_name } %>
                            <% @report.report_participant_relationships.each do |b| %>
                            <% if b.participant.id != @currentParticipantID %>
                            <% @currentParticipantID = b.participant.id %>
                            <li>
                            <% if b.participant.type == "Student" %>
                            <%=image_tag(b.participant.getImageUrl, :border=> 0) %>
                            <%= b.participant.name %></a>
                            <% else %>
                            <%= b.participant.name %></a>
                        	<% end %>
                        <br/>
                        <% end %>
                        <div class="print-infraction" style="margin-left:25px; font-style:italic;">
                            <%= b.relationship_to_report.description %>
                        </div>
                        <% end %>
                        </li>
                    </ul>
					<% end %>

                    <ul>
                        <li>
                            <%= t "building" %><span><%= @report.building.name %></span>
                        </li>
                        <li>
                            <%= t "location" %><span><%= @report.room_number %></span>
                        </li>
                    </ul>
                    <Legend>
                        <%= t "annotation" %>
                    </Legend>
                    <ul>
                        <li>
                            <%=@report.annotation_text %>
                        </li>
                    </ul>
                    <legend>
                        Approach Time:
                    </legend>
                    <ul>
                        <li>
                            <%= @report.event_date %> @ <%= @report.event_time %>
                        </li>
                    </ul>
					<% if @report.can_edit_from_mobile? %>
						<a href=<%="/#{params[:controller]}/#{@report.id}/edit"  %>   style="width:100%" class="iPush iBClassic" %>Edit</a>
					<% end %>
					<a href = "/home/landingpage" class="iPush iBClassic" style="width:100%">Home</a>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>

