 <div class="generic_show_report" >
 <br/>
 <b>Approach Date:</b>
  <%= @report.event_date %><br/><br />
  <b>Approach Time:</b>
  <%= @report.event_time %><br/><br />
  <b><%= t "location" %></b>
  <%= @report.building.name %><br/><br />
  <b>Room Number:</b>
  <%= @report.room_number %><br/><br />
  <b> <%= t "annotation" %></b>
  <%= @report.annotation_text %><br/><br />
  <b>Submitter:</b>
  <%= @report.staff.name %><br/><br />
  
  <b>Submitted:</b>
  <%= @report.submitted %><br/><br />
  <b>Created at:</b>
  <%= @report.created_at_string %><br/><br />
  <b>Updated at:</b>
  <%= @report.updated_at_string %><br>
  
  </div>
