<% if @report.report_participant_relationships.count == 0  %>
  <div class="show-title"><%= "No #{title}" %></div>
<% else %>
  <div class="show-title"><%= "#{title}:" %></div>
  <% num_parts = 0 %>
  <table>
    <tr>
      <% participants.each do |p| %>
        <% if num_parts%width == 0 %>
        </tr>
        <tr>
        <% end %>
        <td style="vertical-align: top;">
          <%=image_tag(p.getImageUrl, :width=> 50 ) %>
        </td>
        <td style="vertical-align: top;">
          <% if p.type == "Student" %>
            <a href="../students/<%= p.id %>" target="blank"><%= p.last_name %>, <%= p.first_name %> <%= p.middle_initial %></a>
          <% else %>
            <a href="../participants/<%= p.id %>" target="blank"> <%= p.name %></a>
          <% end %>
          <br />
          <% if can? :view_contact_info, p %><%= render :partial => "participants/participant_details", :locals => { :participant => p } %><br/><% end %>
          <% if can? :view_contact_history, p %><%= render :partial => "participants/participant_history", :locals => { :participant => p, :history => p.contact_history(@report.type) } if can? :view_contact_history, p %><% end %>
          <br />
          <% @report.report_participant_relationships.where(:participant_id => p.id).each do |rpr| %>
            &nbsp;&nbsp;&nbsp;&nbsp;<%= label_tag "Reported:" %>
            <%= rpr.reason.description %><br/>
            <% if @report.supports_contact_reason_details? %>
            <% if not rpr.annotation.nil? %>
			<div class="field" >
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= label_tag "Annotation:" %>
                <%= rpr.annotation.text %>
			</div>
            <% end %>
            <% if not rpr.contact_duration.nil? %>
			<div class="field" >
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= label_tag "Duration:" %> 
                <%= rpr.contact_duration %> minutes
			</div>
            <% end %>
            <% end %>
          <% end %>
        </td>
        <% num_parts = num_parts + 1 %>
      <% end %>
    </tr>
  </table>
<% end %>
