<div id="inside_container" class="inside_container">
  <%= link_to_function("Print this Page", "javascript:print()", :id=>'print_link') if can? :print, @report %><br />
  <div id="forward_div" style="float:right;">
    <%= render :partial => "reports/forward_as_mail", :locals => {:display => "display: none;", :plus_minus_button_path => "/images/add_icon.gif"}%>
  </div>
  <div class="report_date" >
    <%= @report.event_date %>
  </div>
  <div class="report_title" >
    <%= @report.display_name %> <%= @report.tag %>
  </div>
  <%= render :partial => "reports/show_relationships", :locals => { :title => "Participants" } %>
  <%= render :partial => "reports/show_generic" %>

  <%= link_to 'Edit', :controller =>"#{@report.type.underscore.pluralize}", :action => "edit", :id => @report if can? :edit, @report %>
</div>
