<div id="inside_container" class="inside_container">
  <%= link_to_function("Print this Page", "javascript:print()", :id=>'print_link') %><br />
  <div id="forward_div" style="float:right;">
    <% if ReportType.find_by_name(@report.type).forwardable? %>
      <%= link_to image_tag("/images/add_icon.gif", :id => "forward_img"), "javascript:void(0)",
        :onclick => "plusMinusToggle('forward_emails_div', 'forward_img');" %>
      Forward this Page
      <div id="forward_emails_div" style="display: none;">
        <%= form_for(:parties, :remote => true,  :url => { :controller => 'reports',
            :action => :forward_as_mail, :report => @report} ) do |f| %>
          <% @interested_parties.each do |ip| %>
            <div style="margin-right: 8px;margin-top: 4px; margin-bottom: 0px;" id="forward_email" >
              <%= f.check_box :"#{ip.id}" %>
                <%= f.label "#{ip.email}" %><br />
              <div class="forward_notice">
                <% if @report.times_forwarded_to(ip) > 0 %>
                  <%= "forwarded #{@report.times_forwarded_to(ip)} " %>
                  time
                  <%= "s" if @report.times_forwarded_to(ip) > 1 %>
                <% end %>
              </div>
              <hr />
            </div>
          <% end %>
          <div class="actions">
            <p>
              <%= f.submit "Send" %>
            </p>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="report_title" >
    <%= @report.display_name %> <%= @report.tag %>
  </div>
  <%= render :partial => "reports/show_relationships", :locals => { :title => "Participants" } %>
  <%= render :partial => "reports/show_generic" %>

  <%= link_to 'Edit', :controller =>"#{@report.type.underscore.pluralize}", :action => "edit", :id => @report if can? :edit, @report %>
</div>
