<div id="inside_container" class="inside_container">

 
  <div id="pdf_div" style="float:left;">
    <%= link_to 'View this page as PDF', "/#{@report.type.underscore.pluralize}/#{@report.id}.pdf" if can? :pdf, @report %>

  </div>
  <br/>
  <% if @report.forwardable? %>
    <div id="forward_div" style="float:right;">
      <%= render :partial => "reports/forward_as_mail", :locals => {:display => "display: none;", :plus_minus_button_path => "/images/add_icon.gif"}%>
 
    </div>
  <% end %>
  <div class="report_date" >
    <%= @report.event_date %>
  </div>
  <div class="report_title" >
    <%= @report.display_name %> <%= @report.tag %> <% if not @report.submitted %><%= " (Not yet submitted)" %><% end %>
  </div>
  <%= render :partial => "reports/show_relationships", :locals => { :columns => columns, :participants => Participant.where(:id => @report.participant_ids).order(:last_name), :title => "Participants" } %>
  <%= render :partial => "reports/show_generic" %>

  <% if can? :edit, @report %><%= link_to 'Edit', edit_report_path(@report) %><% end %>
</div>
