<div id="inside_container" class="inside_container">

  <%= render :partial => "reports/print_forward", :locals => { :report => @report } %>
  <div class="report_date" >
    <%= @report.event_date %>
  </div>
  <div class="report_title" >
    <%= @report.display_name %> <%= @report.tag %> <% if not @report.submitted %><%= " (Not yet submitted)" %><% end %>
  </div>
  <%= render :partial => "reports/show_relationships", :locals => { :columns => columns, :participants => Participant.where(:id => @report.participant_ids).order(:last_name) } %>
  <%= render :partial => "reports/show_generic" %>

  <% if can? :edit, @report %><%= link_to 'Edit', edit_report_path(@report) %><% end %>
</div>
