<% if @report.report_participant_relationships.count == 0  %>
  <div class="show-title"><%= "No #{title}" %></div>
<% else %>
  <div class="show-title"><%= "#{title}:" %></div>
  <% num_parts = 0 %>
  <table>
    <tr>
      <% participants.each do |p| %>
        <% if num_parts%width == 0 %>
        </tr>
        <tr>
        <% end %>
        <td style="vertical-align: top;">
          <%=image_tag(p.getImageUrl, :width=> 50 ) %>
        </td>
        <td style="vertical-align: top;">
          <% if p.type == "Student" %>
            <a href="../students/<%= p.id %>" target="blank"><%= p.last_name %>, <%= p.first_name %> <%= p.middle_initial %></a>
          <% else %>
            <a href="../participants/<%= p.id %>" target="blank"> <%= p.name %></a>
          <% end %>
          <br />
          <%= render :partial => "participants/participant_details", :locals => { :participant => p } %><br/>
          <%= render :partial => "participants/participant_history", :locals => { :participant => p, :history => p.contact_history } %>
          <br />
          <% @report.report_participant_relationships.where(:participant_id => p.id).each do |rpr| %>
            <b>&nbsp;&nbsp;&nbsp;&nbsp;Reported:</b>
            <%= rpr.relationship_to_report.description %><br/>
          <% end %>
        </td>
        <% num_parts = num_parts + 1 %>
      <% end %>
    </tr>
  </table>
<% end %>