<% if @report.number_of_participants == 0  %>
  <div class="show-title"><%= t "#{@report.type}.noparticipants" %></div>
<% else %>
  <div class="show-title"><%= t "#{@report.type}.participants" %></div>
  <% num_parts = 0 %>
  <table>
    <tr>
      <% participants.each do |p| %>
        <% if num_parts%columns == 0 %>
        </tr>
        <tr>
        <% end %>
        <td style="vertical-align: top;">
          <%=image_tag(p.getImageUrl, :width=> 50 ) %>
        </td>
        <td style="vertical-align: top;">
          <% if p.type == "Student" %>
            <a href="../students/<%= p.id %>" target="blank"><%= p.last_name %>, <%= p.first_name %> <%= p.middle_initial %></a>
          <% else %>
            <a href="../participants/<%= p.id %>" target="blank"> <%= p.name %></a>
          <% end %>
          <br />
          <% if can? :view_contact_info, p %><%= render :partial => "participants/participant_details", :locals => { :participant => p } %><br/><% end %>
          <% if can? :view_contact_history, p %><%= render :partial => "participants/participant_history", :locals => { :participant => p, :history => p.contact_history(current_ability, @report) } %><% end %>
		  <div >
          <% @report.report_participant_relationships.where(:participant_id => p.id).each do |rpr| %>
			<%= label_tag  do %>
			  <%= t("#{@report.report_type.name}.reported") %>:
			<% end %>
		
            <%= rpr.reason.description rescue "no reason" %><br/>
            <% if @report.supports_contact_reason_details? %>
				<div class="offset_field" >
					<% if not rpr.annotation.nil? %>					
						<%= label_tag  t("#{@report.report_type.name}.annotation") , nil, :class=>"offset_label" %>:
						<%= rpr.annotation.text %><br/>
					<% end %>
					<% if not rpr.contact_duration.nil? %>
						<%= label_tag t("#{@report.report_type.name}.duration") , nil, :class=> "offset_label" %>:
						<%= rpr.contact_duration %> minutes
					<% end %>
				</div>
			<% end %>
          <% end %>
		  </div>
        </td>
        <% num_parts = num_parts + 1 %>
      <% end %>
    </tr>
  </table>
<% end %>
