
<div id="iGroup">
  <div class="iLayer" id="waHome" title="Home">
    <div class = "iPanel">
      <% if @reports != nil && @reports.size > 0 %>
        <fieldset>
          <Legend>
            <%= "#{ReportType.find_by_name(@reports.first.type).display_name.pluralize}" %>
          </Legend>
          <br/>

          <% @reports.each do |report| %>
            <% if can? :update, report %>
              <ul class="iArrow">
                <li>
                  <%= link_to  "/#{params[:controller]}/#{report.id}/edit"  do %>
                    <%= render :partial=>"reports/index_line", :locals=> { :report => report } %>
                  <% end %>
                </li>
              </ul>
            <% else %>
              <ul>
                <li>
                  <%= render :partial=>"reports/index_line", :locals=> { :report => report } %>
                </li>
              </ul>
            <% end %>
          <% end %>

        </fieldset>
        <a href = <%= "/#{params[:controller]}/new" %> class="iPush iBClassic" style="width:100%">New <%= ReportType.find_by_name(@reports.first.type).display_name %></a>
      <% else %>
                                                                     No reports found
      <% end %>
      <a href = "/home/landingpage" class="iPush iBClassic" style="width:100%">Home</a>
    </div>
  </div>
</div>

