<div id="container">
  <div id="inside_container" class="inside_container">
    <div class="report_title" >
      <%= @report.display_name %> <%= @report.tag %>
    </div>
    <div class="report_date" >
      <%= @report.event_date %>
    </div>
    <br/>
    <div class="generic_show_report" >
      <b>Approach Time:</b>
      <span id="approach_time"><%= @report.event_time %></span><br/>
      <b><%= t "location" %>:</b>
      <%= @report.building_name %><br/>
      <b><%= t :room_number %>:</b>
      <%= @report.room_number %><br/>
	  <b><%= t :submitter %>:</b>
      <span id="submitter_name"><%= @report.staff.name %></span><br/>
      <% if @report.adjunct_submitters.length > 0 %>
        <b><%= "Secondary Submitter(s):" %></b>
        <% @report.adjunct_submitters.each do |a| -%>
          <%= a.staff.last_name_first_initial %>
        <% end -%>
        <br/>
      <% end %>
      <b>Updated at:</b>
      <%= @report.updated_at_string %>
    </div>
    <% if @report.report_participant_relationships.count == 0  %>
      <div class="show-title"><%= "No Participants" %></div>
    <% else %>
      <div class="show-title"><%= "Participants:" %></div>
      <% num_parts = 0 %>
      <table>
        <tr>
		
          <% Participant.where(:id => @report.participant_ids).order(:last_name).each do |p| %>
            <% if num_parts%2 == 0 %>
            </tr>
            <tr>
			 
            <% end %>
		
            <td style="vertical-align: top;">
			 
			  <div class="keep_image_with_details" >
			  <table>
			  <tr>
			   
			  <td style="vertical-align:top;" >
			  
              <%=image_tag(p.getImageUrl, :width=> "50" ) %>
			  </td>
			  <td>
			  
              <div id="details_div_<%= p.id %>" class="participant_detail">
			  <hr/>
			      <span class="detail_name"><%= p.name %></span><br/>
                  <span class="detail_label">Student ID #: </span>
                  <%=  p.student_id rescue unknown %><br/>
                  <span class="detail_label"><%= t :class %>: </span><%= p.grade_level rescue unknown %><br/>
                  <span class="detail_label"><%= t :age %> :</span>
                  <% if p.is_of_drinking_age? %>
                    <%= p.age %><br/>
                  <% else %>
                    <span class="underage"><%= p.age %></span>
                  <% end %>
                  <span class="detail-label"><%= t :birthday %>: </span>
                  <% if p.is_of_drinking_age? %>
                    <%= p.birthday_string %>
                  <% else %>
                    <span class="underage"><%=  p.birthday_string %></span>
                  <% end %>
                  <br/>

                  <span class="detail_label"><%= t :residence %>: </span>
                  <%=  p.room_number rescue "" %> <%=  p.residence_hall rescue unknown %><br/>

                  <span class="detail_label"><%= t :extension %>: </span>
                  <%= p.extension rescue unknown %><br/>
                  <span class="detail_label"><%= t :affiliation %>: </span>
                  <%= p.affiliation rescue unknown %><br/>
				  <% if can? :view_contact_info, p %>
                  <div id="emergency_contact">
                    <% if can? :view_contact_info, Student %>
                      <span class="detail_label">Emergency Contact: </span>
                      <%= p.emergency_contact_name rescue "" %>
                      <%= " @ " if p.emergency_contact_name != nil && p.emContact!=nil %>
                      <%= p.emContact rescue unknown %><br />
                    <% end %>
                  </div>
				  <% end %>
              </div>
			  </td>
			  </tr>
			  </table>
			  </div>
			  <div class="current_contact_reasons" >
			    <% @report.report_participant_relationships.where(:participant_id => p.id).each do |participant_reason| %>
                    Reported: <%= participant_reason.reason.description %><br/>
					<% if (not participant_reason.contact_duration.nil?) %>
						Duration: <%= participant_reason.contact_duration %><br/>
					<% end %>
					<% if (not participant_reason.comment.nil?) && (participant_reason.comment.length > 0) %>
						Comment: <%= participant_reason.comment %> <br/>
					<% end %>
                <% end %>
			  </div>
              <% if can? :view_contact_history, p %>
              <% history = p.contact_history(current_ability, @report)%>
			  <% if history.size == 0 %>
                <span class="small-label"><%= t :no_contact_history %></span>
              <% else %>
                <div class="contact_history" >
					<b><%= t :contact_history %></b>
					<div id="history_div_<%= p.id %>" >
						<div style="margin-left: 10px;">
							<table cellspacing="0" cellpadding="0">
								<% history.each  do |h| -%>
								    <% reasons = h.reasons.join(", ") %>
									<% col_width = 40 %>
								    <span class="contact_history_item">
									<tr>	
										<td><b><%=  h.report.tag %></b></td>
										<td align="left"><%= h.date.to_s(:short_date_only) rescue unknown %></td>
										<% if reasons.length < col_width %>
										    <td><%= h.reasons.join(", ") %></td>
										<% end %>
									</tr>
									<% if reasons.length >= col_width %>
									   <tr>
									    <td colspan="2"><%= h.reasons.join(", ") %></td>	
									  </tr>
									<% end %>
									</span>
								<% end -%>
							</table>

						</div>

					</div>
				</div>
              <% end %>
              <% end %>
              <br />

            </td>
			
            <% num_parts = num_parts + 1 %>
          <% end %>
        </tr>
      </table>
    <% end %>
    <br/><br/>
    <div class="generic_show_report" >
      <b> <%= t "annotation" %>:</b>
      <%= @report.annotation_text %><br/><br />
     
    </div>
  </div>
</div>