<div id="container">
  <div id="inside_container" class="inside_container">
    <div class="report_title" >
      <%= @report.display_name %> <%= @report.tag %>
    </div>
    <div class="report_date" >
      <%= @report.event_date %>
    </div>
    <br/>
    <div class="generic_show_report" >
      <b>Approach Time:</b>
      <%= @report.event_time %><br/><br />
      <b><%= t "location" %>:</b>
      <%= @report.building.name %><br/><br />
      <b><%= t :room_number %>:</b>
      <%= @report.room_number %><br/><br />
    </div>
    <% if @report.report_participant_relationships.count == 0  %>
      <div class="show-title"><%= "No Participants" %></div>
    <% else %>
      <div class="show-title"><%= "Participants:" %></div>
      <% num_parts = 0 %>
      <table>
        <tr>
          <% Participant.where(:id => @report.participant_ids).order(:last_name).each do |p| %>
            <% if num_parts%2 == 0 %>
            </tr>
            <tr>
            <% end %>
            <td style="vertical-align: top;">
              <%=image_tag(p.getImageUrl, :width=> 50 ) %>
            </td>
            <td style="vertical-align: top;">
              <% if p.type == "Student" %>
                <a href="../students/<%= p.id %>" target="blank"><%= p.last_name %>, <%= p.first_name %> <%= p.middle_initial %></a>
              <% else %>
                <a href="../participants/<%= p.id %>" target="blank"> <%= p.name %></a>
              <% end %>
              <br />
              <%= link_to image_tag("/images/add_icon.gif", :id => "#{p.id}-details_img"), "javascript:void(0)",
                :onclick => "plusMinusToggle('details_div_#{p.id}', '#{p.id}-details_img');" %>
              <b><%= t :details %></b><br/>
              <div id="details_div_<%= p.id %>" class="participant_detail">
                <div style="margin-left: 15px;">
                  <span class="detail_label">Student ID #: </span>
                  <%=  p.student_id rescue "Unknown" %><br/>
                  <span class="detail_label"><%= t :class %>: </span><%= p.grade_level rescue unknown %><br/>
                  <span class="detail_label"><%= t :age %> :</span>
                  <% if p.is_of_drinking_age? %>
                    <%= p.age %>
                  <% else %>
                    <span class="underage"><%= p.age %></span>
                  <% end %>
                  <span class="detail-label"><%= t :birthday %>: </span>
                  <% if p.is_of_drinking_age? %>
                    <%= p.birthday_string %>
                  <% else %>
                    <span class="underage"><%=  p.birthday_string %></span>
                  <% end %>
                  <br/>

                  <span class="detail_label"><%= t :residence %>: </span>
                  <%=  p.room_number rescue "" %> <%=  p.residence_hall rescue unknown %><br/>


                  <span class="detail_label"><%= t :extension %>: </span>
                  <%= p.extension rescue unknown %><br/>
                  <span class="detail_label"><%= t :affiliation %>: </span>
                  <%= p.affiliation rescue unknown %><br/>
                  <div id="emergency_contact">
                    <% if can? :view_contact_info, Student %>
                      <span class="detail_label">Emergency Contact: </span>
                      <%= p.emergency_contact_name rescue "" %>
                      <%= " @ " if p.emergency_contact_name != nil && p.emContact!=nil %>
                      <%= p.emContact rescue "Unknown" %><br />
                    <% end %>
                  </div>
                </div>
              </div>
              <% if p.contact_history(@report).size == 0 %>
                <span class="small-label"><%= t :no_contact_history %></span>
              <% else %>
                <%= link_to image_tag("/images/add_icon.gif", :id => "#{p.id}-history_img"), "javascript:void(0)",
                  :onclick => "plusMinusToggle('history_div_#{p.id}', '#{p.id}-history_img');" %>

                <b><%= t :contact_history %></b>

                <div id="history_div_<%= p.id %>" class="participant_detail">
                  <div style="margin-left: 15px;">
                    <table cellspacing="0" cellpadding="0">
                      <% p.contact_history(@report).each  do |h| -%>

                        <tr>
                        <span class="detail_label">
                          <td><%= link_to h.report.tag,  "/#{h.report.class.name.tableize}/#{h.report.id}" %></td>
                          <td><%= h.date %></td>
                          <td><%= h.reason %></td>
                        </span>
                        </tr>
                      <% end -%>
                    </table>

                  </div>

                </div>
              <% end %>
              <br />
              <% @report.report_participant_relationships.where(:participant_id => p.id).each do |rpr| %>
                <b>&nbsp;&nbsp;&nbsp;&nbsp;Reported:</b>
                <%= rpr.relationship_to_report.description %><br/>
              <% end %>
            </td>
            <% num_parts = num_parts + 1 %>
          <% end %>
        </tr>
      </table>
    <% end %>
    <br/><br/>
    <div class="generic_show_report" >
      <b> <%= t "annotation" %>:</b>
      <%= @report.annotation_text %><br/><br />
      <b><%= t :submitter %>:</b>
      <%= @report.staff.name %><br/><br />
      <% if @report.adjunct_submitters.length > 0 %>
        <b><%= "Secondary Submitter(s):" %></b>
        <% @report.adjunct_submitters.each do |a| -%>
          <%= a.staff.last_name_first_initial %>
        <% end -%>
        <br/><br/>
      <% end %>
      <b><%= t :submitted %>:</b>
      <%= @report.submitted %><br/><br />
      <b>Created at:</b>
      <%= @report.created_at_string %><br/><br />
      <b>Updated at:</b>
      <%= @report.updated_at_string %>
    </div>
  </div>
</div>