<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "RADAR" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>

    <%= javascript_include_tag 'jquery-1.4.4.min.js', 'jquery-ui-1.8.9.custom.min.js', 'autocomplete-rails.js', 'rails.js', 'CSJSRequestObject.js'  %>
    <%= javascript_tag '$j = jQuery.noConflict();' %>
    <%= stylesheet_link_tag 'jquery-ui-1.8.9.custom.css' %>
  </head>
   
  <body>
  <% if staff_signed_in? %>
	<div id="toolbar" style="position: fixed; top: 0px; left: 0px; width: 100%; color: #fff; background: #000;"> 
		<table border="0">
		<tr>
			<td width = "50%"><%=link_to image_tag("home.png", :size=> "35x35", :title=>"Home"), "/"%> </td>
			<td width = "80%"><p align="right">Signed in as <%= current_staff.email %> Not You? <%= link_to "Sign Out", destroy_staff_session_path %></p></td>
			<td width = "10%"><%=link_to image_tag("customize.png", :size=> "35x35", :title=>"Preferences"), "/notification_preferences" %> </td>
		</tr>
		</table>    
	</div> 	
	
	<br>
	<br> 
	<br>
	<br>
  
	<% end %>

    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>

  </body>
</html>
