<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "RADAR" %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "radar", :media => :screen %>
    <%= stylesheet_link_tag "radar_print", :media => :print %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    <%= javascript_include_tag 'jquery-1.4.4.min.js', 'jquery-ui-1.8.9.custom.min.js', 'autocomplete-rails.js',  'CSJSRequestObject.js', 'suckertree.js', 'anytime.js'  %>
    <%= javascript_tag '$j = jQuery.noConflict();' %>
    <%= stylesheet_link_tag 'jquery-ui-1.8.9.custom.css' %>
    <%= stylesheet_link_tag 'anytime.css' %>
    <link href='/images/favicon.ico' rel='shortcut icon' type='image/x-icon' />
	<link href='/images/favicon.ico' rel='apple-touch-icon' type='image/x-icon' />

  </head>

  <body>
    <% if staff_signed_in? %>
      <div id="toolbar">
        <table border="0">
          <tr>
            <td width = "0%"><%=link_to image_tag("StMarysLogo.png", :title=>"SMU Home"), "http://www.smumn.edu", :target=>"blank" %> </td>

            <td style = "width: 150px;">
              <% if can? :do, Shift %>
                <% if current_staff.on_duty? %>
                  <div id= "duty_button">
                    <%= render :partial => "shifts/end_shift_button" %>
                  </div>
                <% else %>
                  <div id= "duty_button">
                    <%= render :partial => "shifts/start_shift_button" %>
                  </div>
                <% end %></td>

              <td style = "width: 170px;">

                <div id = "round_button">
                  <% if  current_staff.on_duty? %>
                    <% if current_staff.on_round? %>
                      <%= render :partial => "rounds/end_round_button" %>
                    <% else %>
                      <%= render :partial => "rounds/start_round_button" %>
                    <% end %>
                  <% end %></div></td>
            <%  end %>

            <td width = "70%", nowrap>
                <div id = "sign_out_link">
                    <%= render :partial => "staffs/sign_out_link" %>
              </div>
            </td>
            
            <td width = "0%"><%=link_to image_tag("customize2.png", :size=> "35x35", :title=>"Preferences"), "/notification_preferences" if can? :update, NotificationPreference %> </td>
          </tr>
        </table>
      </div>


    <% end %>

    <div id="container">

    
      <div id = "user_nav" class="menu">



        <% if staff_signed_in? %>
          <%= render  :partial => "organizations/orgs/#{current_staff.staff_organizations.first.organization.name}/home" %>
        <% end %>


      </div>

	<div id="flash_notice"  style="display:none;">
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>
	</div>

   
	<%= content_tag :h1, yield(:title) if show_title? %>
    <%= yield %>

    <div id="footer" class="footer"><br>
      &nbsp;&copy; 2011 &nbsp;&#149;&nbsp; Created by Saint Mary's University of Minnesota &nbsp;&#149;&nbsp; Department of Computer Science<br><br></div>

  </div>


</body>
</html>
