<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "RADAR" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "radar" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>

    <%= javascript_include_tag 'jquery-1.4.4.min.js', 'jquery-ui-1.8.9.custom.min.js', 'autocomplete-rails.js', 'rails.js', 'CSJSRequestObject.js'  %>
    <%= javascript_tag '$j = jQuery.noConflict();' %>
    <%= stylesheet_link_tag 'jquery-ui-1.8.9.custom.css' %>
  </head>
   
  <body>
  <% if staff_signed_in? %>
	<div id="toolbar" style="position: fixed; top: 0px; left: 0px; width: 100%; color: #fff; background: #000;"> 
		<table border="0">
		<tr>
			<td width = "85%"><%=link_to image_tag("radar_circle_logo.png", :size=> "35x35", :title=>"Radar Home"), "/"%> </td>
			<td width = "15%", nowrap><p align="right"><b>Hi, <%= current_staff.first_name %> <%= current_staff.last_name %> |</b> <%= link_to "Sign Out", destroy_staff_session_path %></p></td>
			<% if current_staff.access_level > Authorize.ra_access_level %>
			<td width = "0%"><%=link_to image_tag("customize.png", :size=> "35x35", :title=>"Preferences"), "/notification_preferences" %> </td>
			<% end %>
		</tr>
		</table>    
	</div> 	
	
	<br>
	<br> 
	<br>
	<br>
  
	<% end %>

    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
	  <br>
	  <hr />	 
	  <br>
	  <p align="center"><%= image_tag("radar_words_logo.png") %></p>
	  <p align ="center"><i><font size="1">Created by Saint Mary's University of Minnesota. Copyright 2011.</font></p>
    </div>
		

  </body>
</html>
