<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "RADAR" %></title>
	<%= javascript_include_tag 'jquery-1.4.4.min.js', 'jquery-ui-1.8.9.custom.min.js', 'autocomplete-rails.js','CSJSRequestObject.js'  %>
    <%= javascript_tag '$j = jQuery.noConflict();' %>
    <%= stylesheet_link_tag 'jquery-ui-1.8.16.custom.css' %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>

  
    <%= stylesheet_link_tag 'WebApp/Design/Render.css' %>
	 <%= stylesheet_link_tag 'radar_mobile.css' %>
    
        
    <%= javascript_include_tag 'WebApp/Action/Logic.js' %>
     <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
  </head>
  <body>
    <div id="WebApp">

    	<div id="iHeader" style="background-color: #b22222">
           
			<div> 
				<div style="position:right;left:0%; top:0%;">
				    <a href = "/home/landingpage">
				     <%=image_tag 'WebApp/radar_circle_logo_mobile.png', :align=>"right", :style=>"padding-right:1px; padding-top:1px; "%>
			        </a>
				</div>
                
				<% if staff_signed_in? %>
					<div id = "round_button" style="position:absolute;left:80px; top:0px;">
						<% if current_staff.on_duty? %>
							<% if current_staff.on_round? == true %>					
								<%= render :partial => "rounds/end_round_button" %>					
							<% else %>					
								<%= render :partial => "rounds/start_round_button" %>					
							<% end %>
						<% end %>
					</div>
				<% end %>
			</div>
            
	 
    	</div>
   <img id="busy" src="/images/ajax-loader.gif" style="display:none"/>
    <%= yield %>
    </div>
  </body>
  <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</html>
